In [1]:
import fnmatch
import pandas as pd

In [10]:
gatewayVolumesLoc = "./GatewayVolumes_2056.csv"
chainFlowVolumesLoc = "./INITFMCC_ChainFlowShare_Y2056_WFY_Funded_Op2_001.CSV"
postcodeSharesLoc = "./PostcodeShares_2056.csv"
travelTimesLoc = "./INITFMCC_PCTTPert_Y2056_WFY_Funded_Op2_001.CSV"

In [11]:
gatewayVolumes = pd.read_csv(gatewayVolumesLoc)
chainFlowVolumes = pd.read_csv(chainFlowVolumesLoc)
postcodeShares = pd.read_csv(postcodeSharesLoc)
postcodeShares['Postcode'] = postcodeShares['Postcode'].astype(str)
travelTimes = pd.read_csv(travelTimesLoc, low_memory=False)

gatewayMatchColNames = ['Gateway','Sector','Import / Export','Full / Empty']

In [15]:
postcodeShares

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.000000
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.000000
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.000000
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.000000
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.000000
...,...,...,...,...,...,...,...,...
292,Dynon*;WIFT*;BIFT*,ICDR,Outbound,Full,Exporters,NaN,3201,6233.952007
293,Dynon*;WIFT*;BIFT*,ICDR,Outbound,Full,Exporters,NaN,3207,4402.369626
294,Dynon*;WIFT*;BIFT*,ICDR,Outbound,Full,Exporters,NaN,3214,24780.371406
295,Dynon*;WIFT*;BIFT*,ICDR,Outbound,Full,Exporters,NaN,3458,5944.026310
296,Dynon*;WIFT*;BIFT*,ICDR,Outbound,Full,Exporters,NaN,3803,7176.280248

In [5]:
travelTimes['From Postcode'] = travelTimes['From Postcode'].astype(str)
travelTimes['To Postcode'] = travelTimes['To Postcode'].astype(str)

In [6]:
def matchStrings(primaryString, secondaryString):
    isMatch = False
    secondaryStringList = secondaryString.split(';')
    for i in range(len(secondaryStringList)):
        isMatch = isMatch | fnmatch.fnmatch(primaryString, secondaryStringList[i])
    return isMatch

def matchCols(primaryRow, secondaryRow, primaryColsList, secondaryColsList):
    rowMatch = True
    for j in range(len(primaryColsList)):
        rowMatch = rowMatch & matchStrings(primaryRow[primaryColsList[j]], secondaryRow[secondaryColsList[j]])
    return rowMatch

In [16]:
from IPython.display import display  # For nicer DataFrame output

def pretty_print_df(df, title="DataFrame", max_rows=10):
    """Display a DataFrame with a title and limited rows"""
    print(f"\n{'='*50}\n{title}\n{'='*50}")
    display(df.head(max_rows))
    print(f"Shape: {df.shape}")
    if len(df) > max_rows:
        print(f"Showing first {max_rows} rows of {len(df)} total rows")

allTravelTimes = pd.DataFrame()

for gatewayIt in range(len(gatewayVolumes)):
    gatewayRow = gatewayVolumes.iloc[gatewayIt]
    print('\nCurrent gateway:' + str(gatewayRow.values) + '\n')

    matchedShares = postcodeShares[
        postcodeShares.apply(
            lambda row: matchCols(gatewayRow, row, gatewayMatchColNames, gatewayMatchColNames), axis=1
        )
    ]
    pretty_print_df(matchedShares, "Matched Shares")

    matchedFlows = chainFlowVolumes[
        chainFlowVolumes.apply(
            lambda row: matchCols(gatewayRow, row, gatewayMatchColNames, gatewayMatchColNames), axis=1
        )
    ]
    pretty_print_df(matchedFlows, "Matched Flows")

    if len(matchedFlows) == 0:
        print('INPUT DATA ERROR: No chain flow volumes corresponding to this gateway\n')
        continue

    matchedTos = matchedShares\
                .merge(matchedFlows, left_on='Chain Link', right_on='To', how='right')\
                .rename(columns={'Postcode':'To Postcode'})\
                .filter(['To Postcode','From','To','From State','To State','Run Type'])
    pretty_print_df(matchedTos, "Matched Tos (After First Merge)")

    matchedFroms = matchedTos\
                .merge(matchedShares, left_on='From', right_on='Chain Link', how='left')\
                .rename(columns={'Postcode':'From Postcode'})\
                .filter(['From Postcode','From','From State','To Postcode','To','To State','Run Type'])
    pretty_print_df(matchedFroms, "Matched Froms (After Second Merge)")

    matchedTimes = matchedFroms\
                    .merge(travelTimes, on=['From Postcode', 'To Postcode'], how='left')
    pretty_print_df(matchedTimes, "Matched Times (After Travel Times Merge)")

    # Check for NaN travel times where postcodes exist
    nan_times = matchedTimes[
        (matchedTimes['Travel Time'].isna()) & 
        (matchedTimes['To Postcode'].notna())
    ]
    if len(nan_times) > 0:
        print('INPUT DATA WARNING: Routes without travel times:\n')
        pretty_print_df(nan_times, "Routes Missing Travel Times")

    # Replace NaN travel times with 4*60 (240 minutes)
    matchedTimes['Travel Time'] = matchedTimes['Travel Time'].fillna(4*60)
    pretty_print_df(matchedTimes, "Matched Times (After NaN Fill)")

    # Add gateway matching columns
    for i in range(len(gatewayMatchColNames)):
        matchedTimes[gatewayMatchColNames[i]] = gatewayRow[gatewayMatchColNames[i]]
    
    matchedTimes['Industry Class'] = gatewayRow['Industry Class']
    matchedTimes = matchedTimes[gatewayMatchColNames + 
                              ['Industry Class','Run Type','From Postcode','From',
                               'From State','To Postcode','To','To State','Travel Time']]
    pretty_print_df(matchedTimes, "Final Matched Times for this Gateway")

    # Use pd.concat instead of append
    allTravelTimes = pd.concat([allTravelTimes, matchedTimes])
    pretty_print_df(allTravelTimes, "Cumulative allTravelTimes")
#     break

# Final output
pretty_print_df(allTravelTimes, "Final Complete allTravelTimes")

Current gateway:['Swanson Dock West' 'I&MC' 'Import' 'Full' 'IMEX' 4209.470819953]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (80, 8)
Showing first 10 rows of 80 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
0,Swanson Dock West,I&MC,Import,Full,IMEX,Swanson Dock West,Swanson Dock West,PRS Terminals WIFT / BIFT,Full,Full,RL,0.121442
1,Swanson Dock West,I&MC,Import,Full,IMEX,Swanson Dock West,Swanson Dock West,PRS Terminals Others,Full,Full,RL,0.083671
2,Swanson Dock West,I&MC,Import,Full,IMEX,Swanson Dock West,Swanson Dock West,Importers,Full,Empty,CR,0.176977
3,Swanson Dock West,I&MC,Import,Full,IMEX,Swanson Dock West,Swanson Dock West,Transport Depots,Full,Full,BR,0.617909
4,Swanson Dock West,I&MC,Import,Full,IMEX,Swanson Dock West,PRS Terminals WIFT / BIFT,Importers,Full,Empty,CR,0.085009
5,Swanson Dock West,I&MC,Import,Full,IMEX,Swanson Dock West,PRS Terminals WIFT / BIFT,Importers,Full,Complete,IG,0.036433
6,Swanson Dock West,I&MC,Import,Full,IMEX,Swanson Dock West,PRS Terminals Others,Importers,Full,Empty,CR,0.075304
7,Swanson Dock West,I&MC,Import,Full,IMEX,Swanson Dock West,PRS Terminals Others,Importers,Full,Complete,IG,0.008367
8,Swanson Dock West,I&MC,Import,Full,IMEX,Swanson Dock West,Transport Depots,Importers,Full,Empty,CR,0.617909
9,Swanson Dock West,I&MC,Import,Full,IMEX,Swanson Dock West,Importers,PRS Terminals WIFT / BIFT,Empty,Empty,CR,0.034800

Shape: (17, 12)
Showing first 10 rows of 17 total rows

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3029,Swanson Dock West,PRS Terminals WIFT / BIFT,Full,Full,RL
1,3029,Swanson Dock West,PRS Terminals WIFT / BIFT,Full,Full,RL
2,3753,Swanson Dock West,PRS Terminals WIFT / BIFT,Full,Full,RL
3,3753,Swanson Dock West,PRS Terminals WIFT / BIFT,Full,Full,RL
4,3018,Swanson Dock West,PRS Terminals Others,Full,Full,RL
5,3975,Swanson Dock West,PRS Terminals Others,Full,Full,RL
6,3062,Swanson Dock West,PRS Terminals Others,Full,Full,RL
7,3003,Swanson Dock West,Importers,Full,Empty,CR
8,3011,Swanson Dock West,Importers,Full,Empty,CR
9,3012,Swanson Dock West,Importers,Full,Empty,CR

Shape: (327, 6)
Showing first 10 rows of 327 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,RL
1,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,RL
2,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,RL
3,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,RL
4,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,RL
5,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,RL
6,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,RL
7,3003,Swanson Dock West,Full,3003,Importers,Empty,CR
8,3003,Swanson Dock West,Full,3011,Importers,Empty,CR
9,3003,Swanson Dock West,Full,3012,Importers,Empty,CR

Shape: (2098, 7)
Showing first 10 rows of 2098 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,27.543957
1,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,27.543957
2,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,44.769091
3,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,44.769091
4,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,RL,18.705176
5,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,RL,37.665978
6,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,RL,28.902344
7,3003,Swanson Dock West,Full,3003,Importers,Empty,CR,1.856365
8,3003,Swanson Dock West,Full,3011,Importers,Empty,CR,11.612198
9,3003,Swanson Dock West,Full,3012,Importers,Empty,CR,14.160464

Shape: (2098, 8)
Showing first 10 rows of 2098 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,27.543957
1,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,27.543957
2,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,44.769091
3,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,44.769091
4,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,RL,18.705176
5,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,RL,37.665978
6,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,RL,28.902344
7,3003,Swanson Dock West,Full,3003,Importers,Empty,CR,1.856365
8,3003,Swanson Dock West,Full,3011,Importers,Empty,CR,11.612198
9,3003,Swanson Dock West,Full,3012,Importers,Empty,CR,14.160464

Shape: (2098, 8)
Showing first 10 rows of 2098 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (2098, 13)
Showing first 10 rows of 2098 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (2098, 13)
Showing first 10 rows of 2098 total rows

Current gateway:['Swanson Dock West' 'I&MC' 'Import' 'Empty' 'IMEX' 312.88714064213]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (33, 8)
Showing first 10 rows of 33 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
17,Swanson Dock West,I&MC,Import,Empty,IMEX,Swanson Dock West,Swanson Dock West,Container Parks,Empty,Complete,BR,0.469231
18,Swanson Dock West,I&MC,Import,Empty,IMEX,Swanson Dock West,Swanson Dock West,Transport Depots,Empty,Empty,BR,0.430769
19,Swanson Dock West,I&MC,Import,Empty,IMEX,Swanson Dock West,Swanson Dock West,PRS Terminals WIFT / BIFT,Empty,Complete,RL,0.050000
20,Swanson Dock West,I&MC,Import,Empty,IMEX,Swanson Dock West,Swanson Dock West,PRS Terminals Others,Empty,Complete,RL,0.050000
21,Swanson Dock West,I&MC,Import,Empty,IMEX,Swanson Dock West,Transport Depots,Container Parks,Empty,Complete,BR,0.430769

Shape: (5, 12)

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3003,Swanson Dock West,Container Parks,Empty,Complete,BR
1,3011,Swanson Dock West,Container Parks,Empty,Complete,BR
2,3012,Swanson Dock West,Container Parks,Empty,Complete,BR
3,3013,Swanson Dock West,Container Parks,Empty,Complete,BR
4,3018,Swanson Dock West,Container Parks,Empty,Complete,BR
5,3025,Swanson Dock West,Container Parks,Empty,Complete,BR
6,3207,Swanson Dock West,Container Parks,Empty,Complete,BR
7,3175,Swanson Dock West,Transport Depots,Empty,Empty,BR
8,3003,Swanson Dock West,Transport Depots,Empty,Empty,BR
9,3043,Swanson Dock West,Transport Depots,Empty,Empty,BR

Shape: (28, 6)
Showing first 10 rows of 28 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Swanson Dock West,Empty,3003,Container Parks,Complete,BR
1,3003,Swanson Dock West,Empty,3011,Container Parks,Complete,BR
2,3003,Swanson Dock West,Empty,3012,Container Parks,Complete,BR
3,3003,Swanson Dock West,Empty,3013,Container Parks,Complete,BR
4,3003,Swanson Dock West,Empty,3018,Container Parks,Complete,BR
5,3003,Swanson Dock West,Empty,3025,Container Parks,Complete,BR
6,3003,Swanson Dock West,Empty,3207,Container Parks,Complete,BR
7,3003,Swanson Dock West,Empty,3175,Transport Depots,Empty,BR
8,3003,Swanson Dock West,Empty,3003,Transport Depots,Empty,BR
9,3003,Swanson Dock West,Empty,3043,Transport Depots,Empty,BR

Shape: (70, 7)
Showing first 10 rows of 70 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock West,Empty,3003,Container Parks,Complete,BR,1.856365
1,3003,Swanson Dock West,Empty,3011,Container Parks,Complete,BR,11.612198
2,3003,Swanson Dock West,Empty,3012,Container Parks,Complete,BR,14.160464
3,3003,Swanson Dock West,Empty,3013,Container Parks,Complete,BR,14.163729
4,3003,Swanson Dock West,Empty,3018,Container Parks,Complete,BR,18.705176
5,3003,Swanson Dock West,Empty,3025,Container Parks,Complete,BR,19.335507
6,3003,Swanson Dock West,Empty,3207,Container Parks,Complete,BR,9.214341
7,3003,Swanson Dock West,Empty,3175,Transport Depots,Empty,BR,30.670727
8,3003,Swanson Dock West,Empty,3003,Transport Depots,Empty,BR,1.856365
9,3003,Swanson Dock West,Empty,3043,Transport Depots,Empty,BR,21.700887

Shape: (70, 8)
Showing first 10 rows of 70 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock West,Empty,3003,Container Parks,Complete,BR,1.856365
1,3003,Swanson Dock West,Empty,3011,Container Parks,Complete,BR,11.612198
2,3003,Swanson Dock West,Empty,3012,Container Parks,Complete,BR,14.160464
3,3003,Swanson Dock West,Empty,3013,Container Parks,Complete,BR,14.163729
4,3003,Swanson Dock West,Empty,3018,Container Parks,Complete,BR,18.705176
5,3003,Swanson Dock West,Empty,3025,Container Parks,Complete,BR,19.335507
6,3003,Swanson Dock West,Empty,3207,Container Parks,Complete,BR,9.214341
7,3003,Swanson Dock West,Empty,3175,Transport Depots,Empty,BR,30.670727
8,3003,Swanson Dock West,Empty,3003,Transport Depots,Empty,BR,1.856365
9,3003,Swanson Dock West,Empty,3043,Transport Depots,Empty,BR,21.700887

Shape: (70, 8)
Showing first 10 rows of 70 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock West,Empty,3003,Container Parks,Complete,1.856365
1,Swanson Dock West,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock West,Empty,3011,Container Parks,Complete,11.612198
2,Swanson Dock West,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock West,Empty,3012,Container Parks,Complete,14.160464
3,Swanson Dock West,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock West,Empty,3013,Container Parks,Complete,14.163729
4,Swanson Dock West,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock West,Empty,3018,Container Parks,Complete,18.705176
5,Swanson Dock West,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock West,Empty,3025,Container Parks,Complete,19.335507
6,Swanson Dock West,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock West,Empty,3207,Container Parks,Complete,9.214341
7,Swanson Dock West,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock West,Empty,3175,Transport Depots,Empty,30.670727
8,Swanson Dock West,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock West,Empty,3003,Transport Depots,Empty,1.856365
9,Swanson Dock West,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock West,Empty,3043,Transport Depots,Empty,21.700887

Shape: (70, 13)
Showing first 10 rows of 70 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (2168, 13)
Showing first 10 rows of 2168 total rows

Current gateway:['Swanson Dock West' 'I&MC' 'Export' 'Full' 'IMEX' 1401.67867752958]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (80, 8)
Showing first 10 rows of 80 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
22,Swanson Dock West,I&MC,Export,Full,IMEX,Container Parks,Container Parks,Exporters,Empty,Full,CR,0.626483
23,Swanson Dock West,I&MC,Export,Full,IMEX,Container Parks,Container Parks,Transport Depots,Empty,Empty,BR,0.304484
24,Swanson Dock West,I&MC,Export,Full,IMEX,Container Parks,Container Parks,PRS Terminals WIFT / BIFT,Empty,Empty,IG,0.045247
25,Swanson Dock West,I&MC,Export,Full,IMEX,Container Parks,Container Parks,PRS Terminals Others,Empty,Empty,IG,0.023787
26,Swanson Dock West,I&MC,Export,Full,IMEX,Container Parks,Transport Depots,Exporters,Empty,Full,CR,0.304484
27,Swanson Dock West,I&MC,Export,Full,IMEX,Container Parks,PRS Terminals WIFT / BIFT,Exporters,Empty,Full,CR,0.045247
28,Swanson Dock West,I&MC,Export,Full,IMEX,Container Parks,PRS Terminals Others,Exporters,Empty,Full,CR,0.023787
29,Swanson Dock West,I&MC,Export,Full,IMEX,Container Parks,Exporters,Swanson Dock West,Full,Complete,CR,0.642732
30,Swanson Dock West,I&MC,Export,Full,IMEX,Container Parks,Exporters,Transport Depots,Full,Full,CR,0.127157
31,Swanson Dock West,I&MC,Export,Full,IMEX,Container Parks,Exporters,PRS Terminals WIFT / BIFT,Full,Full,CR,0.150823

Shape: (14, 12)
Showing first 10 rows of 14 total rows

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode             From         To From State To State Run Type
0        3003  Container Parks  Exporters      Empty     Full       CR
1        3011  Container Parks  Exporters      Empty     Full       CR
2        3012  Container Parks  Exporters      Empty     Full       CR
3        3013  Container Parks  Exporters      Empty     Full       CR
4        3018  Container Parks  Exporters      Empty     Full       CR
5        3020  Container Parks  Exporters      Empty     Full       CR
6        3023  Container Parks  Exporters      Empty     Full       CR
7        3025  Container Parks  Exporters      Empty     Full       CR
8        3026  Container Parks  Exporters      Empty     Full       CR
9        3028  Container Parks  Exporters      Empty     Full       CR

Shape: (220, 6)
Showing first 10 rows of 220 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Container Parks,Empty,3003,Exporters,Full,CR
1,3011,Container Parks,Empty,3003,Exporters,Full,CR
2,3012,Container Parks,Empty,3003,Exporters,Full,CR
3,3013,Container Parks,Empty,3003,Exporters,Full,CR
4,3018,Container Parks,Empty,3003,Exporters,Full,CR
5,3025,Container Parks,Empty,3003,Exporters,Full,CR
6,3207,Container Parks,Empty,3003,Exporters,Full,CR
7,3003,Container Parks,Empty,3011,Exporters,Full,CR
8,3011,Container Parks,Empty,3011,Exporters,Full,CR
9,3012,Container Parks,Empty,3011,Exporters,Full,CR

Shape: (1804, 7)
Showing first 10 rows of 1804 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Exporters,Full,CR,1.856365
1,3011,Container Parks,Empty,3003,Exporters,Full,CR,14.097189
2,3012,Container Parks,Empty,3003,Exporters,Full,CR,16.510005
3,3013,Container Parks,Empty,3003,Exporters,Full,CR,14.619971
4,3018,Container Parks,Empty,3003,Exporters,Full,CR,22.135165
5,3025,Container Parks,Empty,3003,Exporters,Full,CR,21.248426
6,3207,Container Parks,Empty,3003,Exporters,Full,CR,9.829671
7,3003,Container Parks,Empty,3011,Exporters,Full,CR,11.612198
8,3011,Container Parks,Empty,3011,Exporters,Full,CR,4.499409
9,3012,Container Parks,Empty,3011,Exporters,Full,CR,6.467850

Shape: (1804, 8)
Showing first 10 rows of 1804 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Exporters,Full,CR,1.856365
1,3011,Container Parks,Empty,3003,Exporters,Full,CR,14.097189
2,3012,Container Parks,Empty,3003,Exporters,Full,CR,16.510005
3,3013,Container Parks,Empty,3003,Exporters,Full,CR,14.619971
4,3018,Container Parks,Empty,3003,Exporters,Full,CR,22.135165
5,3025,Container Parks,Empty,3003,Exporters,Full,CR,21.248426
6,3207,Container Parks,Empty,3003,Exporters,Full,CR,9.829671
7,3003,Container Parks,Empty,3011,Exporters,Full,CR,11.612198
8,3011,Container Parks,Empty,3011,Exporters,Full,CR,4.499409
9,3012,Container Parks,Empty,3011,Exporters,Full,CR,6.467850

Shape: (1804, 8)
Showing first 10 rows of 1804 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Export,Full,IMEX,CR,3003,Container Parks,Empty,3003,Exporters,Full,1.856365
1,Swanson Dock West,I&MC,Export,Full,IMEX,CR,3011,Container Parks,Empty,3003,Exporters,Full,14.097189
2,Swanson Dock West,I&MC,Export,Full,IMEX,CR,3012,Container Parks,Empty,3003,Exporters,Full,16.510005
3,Swanson Dock West,I&MC,Export,Full,IMEX,CR,3013,Container Parks,Empty,3003,Exporters,Full,14.619971
4,Swanson Dock West,I&MC,Export,Full,IMEX,CR,3018,Container Parks,Empty,3003,Exporters,Full,22.135165
5,Swanson Dock West,I&MC,Export,Full,IMEX,CR,3025,Container Parks,Empty,3003,Exporters,Full,21.248426
6,Swanson Dock West,I&MC,Export,Full,IMEX,CR,3207,Container Parks,Empty,3003,Exporters,Full,9.829671
7,Swanson Dock West,I&MC,Export,Full,IMEX,CR,3003,Container Parks,Empty,3011,Exporters,Full,11.612198
8,Swanson Dock West,I&MC,Export,Full,IMEX,CR,3011,Container Parks,Empty,3011,Exporters,Full,4.499409
9,Swanson Dock West,I&MC,Export,Full,IMEX,CR,3012,Container Parks,Empty,3011,Exporters,Full,6.467850

Shape: (1804, 13)
Showing first 10 rows of 1804 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (3972, 13)
Showing first 10 rows of 3972 total rows

Current gateway:['Swanson Dock West' 'I&MC' 'Export' 'Empty' 'IMEX' 3211.16310931953]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (33, 8)
Showing first 10 rows of 33 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
36,Swanson Dock West,I&MC,Export,Empty,IMEX,Container Parks,Container Parks,Swanson Dock West,Empty,Complete,BR,0.486188
37,Swanson Dock West,I&MC,Export,Empty,IMEX,Container Parks,Container Parks,Container Parks,Empty,Complete,IG,0.513812

Shape: (2, 12)

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3003,Container Parks,Swanson Dock West,Empty,Complete,BR
1,3003,Container Parks,Container Parks,Empty,Complete,IG
2,3011,Container Parks,Container Parks,Empty,Complete,IG
3,3012,Container Parks,Container Parks,Empty,Complete,IG
4,3013,Container Parks,Container Parks,Empty,Complete,IG
5,3018,Container Parks,Container Parks,Empty,Complete,IG
6,3025,Container Parks,Container Parks,Empty,Complete,IG
7,3207,Container Parks,Container Parks,Empty,Complete,IG

Shape: (8, 6)

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Container Parks,Empty,3003,Swanson Dock West,Complete,BR
1,3011,Container Parks,Empty,3003,Swanson Dock West,Complete,BR
2,3012,Container Parks,Empty,3003,Swanson Dock West,Complete,BR
3,3013,Container Parks,Empty,3003,Swanson Dock West,Complete,BR
4,3018,Container Parks,Empty,3003,Swanson Dock West,Complete,BR
5,3025,Container Parks,Empty,3003,Swanson Dock West,Complete,BR
6,3207,Container Parks,Empty,3003,Swanson Dock West,Complete,BR
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG

Shape: (56, 7)
Showing first 10 rows of 56 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,1.856365
1,3011,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,14.097189
2,3012,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,16.510005
3,3013,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,14.619971
4,3018,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,22.135165
5,3025,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,21.248426
6,3207,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,9.829671
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG,1.856365
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG,14.097189
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG,16.510005

Shape: (56, 8)
Showing first 10 rows of 56 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,1.856365
1,3011,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,14.097189
2,3012,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,16.510005
3,3013,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,14.619971
4,3018,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,22.135165
5,3025,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,21.248426
6,3207,Container Parks,Empty,3003,Swanson Dock West,Complete,BR,9.829671
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG,1.856365
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG,14.097189
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG,16.510005

Shape: (56, 8)
Showing first 10 rows of 56 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Export,Empty,IMEX,BR,3003,Container Parks,Empty,3003,Swanson Dock West,Complete,1.856365
1,Swanson Dock West,I&MC,Export,Empty,IMEX,BR,3011,Container Parks,Empty,3003,Swanson Dock West,Complete,14.097189
2,Swanson Dock West,I&MC,Export,Empty,IMEX,BR,3012,Container Parks,Empty,3003,Swanson Dock West,Complete,16.510005
3,Swanson Dock West,I&MC,Export,Empty,IMEX,BR,3013,Container Parks,Empty,3003,Swanson Dock West,Complete,14.619971
4,Swanson Dock West,I&MC,Export,Empty,IMEX,BR,3018,Container Parks,Empty,3003,Swanson Dock West,Complete,22.135165
5,Swanson Dock West,I&MC,Export,Empty,IMEX,BR,3025,Container Parks,Empty,3003,Swanson Dock West,Complete,21.248426
6,Swanson Dock West,I&MC,Export,Empty,IMEX,BR,3207,Container Parks,Empty,3003,Swanson Dock West,Complete,9.829671
7,Swanson Dock West,I&MC,Export,Empty,IMEX,IG,3003,Container Parks,Empty,3003,Container Parks,Complete,1.856365
8,Swanson Dock West,I&MC,Export,Empty,IMEX,IG,3011,Container Parks,Empty,3003,Container Parks,Complete,14.097189
9,Swanson Dock West,I&MC,Export,Empty,IMEX,IG,3012,Container Parks,Empty,3003,Container Parks,Complete,16.510005

Shape: (56, 13)
Showing first 10 rows of 56 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (4028, 13)
Showing first 10 rows of 4028 total rows

Current gateway:['Swanson Dock East' 'I&MC' 'Import' 'Full' 'IMEX' 4209.470819953]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (80, 8)
Showing first 10 rows of 80 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
38,Swanson Dock East,I&MC,Import,Full,IMEX,Swanson Dock East,Swanson Dock East,PRS Terminals WIFT / BIFT,Full,Full,RL,0.121442
39,Swanson Dock East,I&MC,Import,Full,IMEX,Swanson Dock East,Swanson Dock East,PRS Terminals Others,Full,Full,RL,0.083671
40,Swanson Dock East,I&MC,Import,Full,IMEX,Swanson Dock East,Swanson Dock East,Importers,Full,Empty,CR,0.176977
41,Swanson Dock East,I&MC,Import,Full,IMEX,Swanson Dock East,Swanson Dock East,Transport Depots,Full,Full,BR,0.617909
42,Swanson Dock East,I&MC,Import,Full,IMEX,Swanson Dock East,PRS Terminals WIFT / BIFT,Importers,Full,Empty,CR,0.085009
43,Swanson Dock East,I&MC,Import,Full,IMEX,Swanson Dock East,PRS Terminals WIFT / BIFT,Importers,Full,Complete,IG,0.036433
44,Swanson Dock East,I&MC,Import,Full,IMEX,Swanson Dock East,PRS Terminals Others,Importers,Full,Empty,CR,0.075304
45,Swanson Dock East,I&MC,Import,Full,IMEX,Swanson Dock East,PRS Terminals Others,Importers,Full,Complete,IG,0.008367
46,Swanson Dock East,I&MC,Import,Full,IMEX,Swanson Dock East,Transport Depots,Importers,Full,Empty,CR,0.617909
47,Swanson Dock East,I&MC,Import,Full,IMEX,Swanson Dock East,Importers,PRS Terminals WIFT / BIFT,Empty,Empty,CR,0.034800

Shape: (17, 12)
Showing first 10 rows of 17 total rows

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3029,Swanson Dock East,PRS Terminals WIFT / BIFT,Full,Full,RL
1,3029,Swanson Dock East,PRS Terminals WIFT / BIFT,Full,Full,RL
2,3753,Swanson Dock East,PRS Terminals WIFT / BIFT,Full,Full,RL
3,3753,Swanson Dock East,PRS Terminals WIFT / BIFT,Full,Full,RL
4,3018,Swanson Dock East,PRS Terminals Others,Full,Full,RL
5,3975,Swanson Dock East,PRS Terminals Others,Full,Full,RL
6,3062,Swanson Dock East,PRS Terminals Others,Full,Full,RL
7,3003,Swanson Dock East,Importers,Full,Empty,CR
8,3011,Swanson Dock East,Importers,Full,Empty,CR
9,3012,Swanson Dock East,Importers,Full,Empty,CR

Shape: (327, 6)
Showing first 10 rows of 327 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Swanson Dock East,Full,3029,PRS Terminals WIFT / BIFT,Full,RL
1,3003,Swanson Dock East,Full,3029,PRS Terminals WIFT / BIFT,Full,RL
2,3003,Swanson Dock East,Full,3753,PRS Terminals WIFT / BIFT,Full,RL
3,3003,Swanson Dock East,Full,3753,PRS Terminals WIFT / BIFT,Full,RL
4,3003,Swanson Dock East,Full,3018,PRS Terminals Others,Full,RL
5,3003,Swanson Dock East,Full,3975,PRS Terminals Others,Full,RL
6,3003,Swanson Dock East,Full,3062,PRS Terminals Others,Full,RL
7,3003,Swanson Dock East,Full,3003,Importers,Empty,CR
8,3003,Swanson Dock East,Full,3011,Importers,Empty,CR
9,3003,Swanson Dock East,Full,3012,Importers,Empty,CR

Shape: (2098, 7)
Showing first 10 rows of 2098 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock East,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,27.543957
1,3003,Swanson Dock East,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,27.543957
2,3003,Swanson Dock East,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,44.769091
3,3003,Swanson Dock East,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,44.769091
4,3003,Swanson Dock East,Full,3018,PRS Terminals Others,Full,RL,18.705176
5,3003,Swanson Dock East,Full,3975,PRS Terminals Others,Full,RL,37.665978
6,3003,Swanson Dock East,Full,3062,PRS Terminals Others,Full,RL,28.902344
7,3003,Swanson Dock East,Full,3003,Importers,Empty,CR,1.856365
8,3003,Swanson Dock East,Full,3011,Importers,Empty,CR,11.612198
9,3003,Swanson Dock East,Full,3012,Importers,Empty,CR,14.160464

Shape: (2098, 8)
Showing first 10 rows of 2098 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock East,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,27.543957
1,3003,Swanson Dock East,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,27.543957
2,3003,Swanson Dock East,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,44.769091
3,3003,Swanson Dock East,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,44.769091
4,3003,Swanson Dock East,Full,3018,PRS Terminals Others,Full,RL,18.705176
5,3003,Swanson Dock East,Full,3975,PRS Terminals Others,Full,RL,37.665978
6,3003,Swanson Dock East,Full,3062,PRS Terminals Others,Full,RL,28.902344
7,3003,Swanson Dock East,Full,3003,Importers,Empty,CR,1.856365
8,3003,Swanson Dock East,Full,3011,Importers,Empty,CR,11.612198
9,3003,Swanson Dock East,Full,3012,Importers,Empty,CR,14.160464

Shape: (2098, 8)
Showing first 10 rows of 2098 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock East,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock East,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock East,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock East,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock East,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock East,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock East,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock East,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock East,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock East,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock East,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock East,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock East,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock East,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock East,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock East,Full,3003,Importers,Empty,1.856365
8,Swanson Dock East,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock East,Full,3011,Importers,Empty,11.612198
9,Swanson Dock East,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock East,Full,3012,Importers,Empty,14.160464

Shape: (2098, 13)
Showing first 10 rows of 2098 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (6126, 13)
Showing first 10 rows of 6126 total rows

Current gateway:['Swanson Dock East' 'I&MC' 'Import' 'Empty' 'IMEX' 312.88714064213]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (33, 8)
Showing first 10 rows of 33 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
55,Swanson Dock East,I&MC,Import,Empty,IMEX,Swanson Dock East,Swanson Dock East,Container Parks,Empty,Complete,BR,0.469231
56,Swanson Dock East,I&MC,Import,Empty,IMEX,Swanson Dock East,Swanson Dock East,Transport Depots,Empty,Empty,BR,0.430769
57,Swanson Dock East,I&MC,Import,Empty,IMEX,Swanson Dock East,Swanson Dock East,PRS Terminals WIFT / BIFT,Empty,Complete,RL,0.050000
58,Swanson Dock East,I&MC,Import,Empty,IMEX,Swanson Dock East,Swanson Dock East,PRS Terminals Others,Empty,Complete,RL,0.050000
59,Swanson Dock East,I&MC,Import,Empty,IMEX,Swanson Dock East,Transport Depots,Container Parks,Empty,Complete,BR,0.430769

Shape: (5, 12)

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3003,Swanson Dock East,Container Parks,Empty,Complete,BR
1,3011,Swanson Dock East,Container Parks,Empty,Complete,BR
2,3012,Swanson Dock East,Container Parks,Empty,Complete,BR
3,3013,Swanson Dock East,Container Parks,Empty,Complete,BR
4,3018,Swanson Dock East,Container Parks,Empty,Complete,BR
5,3025,Swanson Dock East,Container Parks,Empty,Complete,BR
6,3207,Swanson Dock East,Container Parks,Empty,Complete,BR
7,3175,Swanson Dock East,Transport Depots,Empty,Empty,BR
8,3003,Swanson Dock East,Transport Depots,Empty,Empty,BR
9,3043,Swanson Dock East,Transport Depots,Empty,Empty,BR

Shape: (28, 6)
Showing first 10 rows of 28 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Swanson Dock East,Empty,3003,Container Parks,Complete,BR
1,3003,Swanson Dock East,Empty,3011,Container Parks,Complete,BR
2,3003,Swanson Dock East,Empty,3012,Container Parks,Complete,BR
3,3003,Swanson Dock East,Empty,3013,Container Parks,Complete,BR
4,3003,Swanson Dock East,Empty,3018,Container Parks,Complete,BR
5,3003,Swanson Dock East,Empty,3025,Container Parks,Complete,BR
6,3003,Swanson Dock East,Empty,3207,Container Parks,Complete,BR
7,3003,Swanson Dock East,Empty,3175,Transport Depots,Empty,BR
8,3003,Swanson Dock East,Empty,3003,Transport Depots,Empty,BR
9,3003,Swanson Dock East,Empty,3043,Transport Depots,Empty,BR

Shape: (70, 7)
Showing first 10 rows of 70 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock East,Empty,3003,Container Parks,Complete,BR,1.856365
1,3003,Swanson Dock East,Empty,3011,Container Parks,Complete,BR,11.612198
2,3003,Swanson Dock East,Empty,3012,Container Parks,Complete,BR,14.160464
3,3003,Swanson Dock East,Empty,3013,Container Parks,Complete,BR,14.163729
4,3003,Swanson Dock East,Empty,3018,Container Parks,Complete,BR,18.705176
5,3003,Swanson Dock East,Empty,3025,Container Parks,Complete,BR,19.335507
6,3003,Swanson Dock East,Empty,3207,Container Parks,Complete,BR,9.214341
7,3003,Swanson Dock East,Empty,3175,Transport Depots,Empty,BR,30.670727
8,3003,Swanson Dock East,Empty,3003,Transport Depots,Empty,BR,1.856365
9,3003,Swanson Dock East,Empty,3043,Transport Depots,Empty,BR,21.700887

Shape: (70, 8)
Showing first 10 rows of 70 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock East,Empty,3003,Container Parks,Complete,BR,1.856365
1,3003,Swanson Dock East,Empty,3011,Container Parks,Complete,BR,11.612198
2,3003,Swanson Dock East,Empty,3012,Container Parks,Complete,BR,14.160464
3,3003,Swanson Dock East,Empty,3013,Container Parks,Complete,BR,14.163729
4,3003,Swanson Dock East,Empty,3018,Container Parks,Complete,BR,18.705176
5,3003,Swanson Dock East,Empty,3025,Container Parks,Complete,BR,19.335507
6,3003,Swanson Dock East,Empty,3207,Container Parks,Complete,BR,9.214341
7,3003,Swanson Dock East,Empty,3175,Transport Depots,Empty,BR,30.670727
8,3003,Swanson Dock East,Empty,3003,Transport Depots,Empty,BR,1.856365
9,3003,Swanson Dock East,Empty,3043,Transport Depots,Empty,BR,21.700887

Shape: (70, 8)
Showing first 10 rows of 70 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock East,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock East,Empty,3003,Container Parks,Complete,1.856365
1,Swanson Dock East,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock East,Empty,3011,Container Parks,Complete,11.612198
2,Swanson Dock East,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock East,Empty,3012,Container Parks,Complete,14.160464
3,Swanson Dock East,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock East,Empty,3013,Container Parks,Complete,14.163729
4,Swanson Dock East,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock East,Empty,3018,Container Parks,Complete,18.705176
5,Swanson Dock East,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock East,Empty,3025,Container Parks,Complete,19.335507
6,Swanson Dock East,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock East,Empty,3207,Container Parks,Complete,9.214341
7,Swanson Dock East,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock East,Empty,3175,Transport Depots,Empty,30.670727
8,Swanson Dock East,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock East,Empty,3003,Transport Depots,Empty,1.856365
9,Swanson Dock East,I&MC,Import,Empty,IMEX,BR,3003,Swanson Dock East,Empty,3043,Transport Depots,Empty,21.700887

Shape: (70, 13)
Showing first 10 rows of 70 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (6196, 13)
Showing first 10 rows of 6196 total rows

Current gateway:['Swanson Dock East' 'I&MC' 'Export' 'Full' 'IMEX' 1401.67867752958]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (80, 8)
Showing first 10 rows of 80 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
60,Swanson Dock East,I&MC,Export,Full,IMEX,Container Parks,Container Parks,Exporters,Empty,Full,CR,0.626483
61,Swanson Dock East,I&MC,Export,Full,IMEX,Container Parks,Container Parks,Transport Depots,Empty,Empty,BR,0.304484
62,Swanson Dock East,I&MC,Export,Full,IMEX,Container Parks,Container Parks,PRS Terminals WIFT / BIFT,Empty,Empty,IG,0.045247
63,Swanson Dock East,I&MC,Export,Full,IMEX,Container Parks,Container Parks,PRS Terminals Others,Empty,Empty,IG,0.023787
64,Swanson Dock East,I&MC,Export,Full,IMEX,Container Parks,Transport Depots,Exporters,Empty,Full,CR,0.304484
65,Swanson Dock East,I&MC,Export,Full,IMEX,Container Parks,PRS Terminals WIFT / BIFT,Exporters,Empty,Full,CR,0.045247
66,Swanson Dock East,I&MC,Export,Full,IMEX,Container Parks,PRS Terminals Others,Exporters,Empty,Full,CR,0.023787
67,Swanson Dock East,I&MC,Export,Full,IMEX,Container Parks,Exporters,Swanson Dock East,Full,Complete,CR,0.642732
68,Swanson Dock East,I&MC,Export,Full,IMEX,Container Parks,Exporters,Transport Depots,Full,Full,CR,0.127157
69,Swanson Dock East,I&MC,Export,Full,IMEX,Container Parks,Exporters,PRS Terminals WIFT / BIFT,Full,Full,CR,0.150823

Shape: (14, 12)
Showing first 10 rows of 14 total rows

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode             From         To From State To State Run Type
0        3003  Container Parks  Exporters      Empty     Full       CR
1        3011  Container Parks  Exporters      Empty     Full       CR
2        3012  Container Parks  Exporters      Empty     Full       CR
3        3013  Container Parks  Exporters      Empty     Full       CR
4        3018  Container Parks  Exporters      Empty     Full       CR
5        3020  Container Parks  Exporters      Empty     Full       CR
6        3023  Container Parks  Exporters      Empty     Full       CR
7        3025  Container Parks  Exporters      Empty     Full       CR
8        3026  Container Parks  Exporters      Empty     Full       CR
9        3028  Container Parks  Exporters      Empty     Full       CR

Shape: (220, 6)
Showing first 10 rows of 220 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Container Parks,Empty,3003,Exporters,Full,CR
1,3011,Container Parks,Empty,3003,Exporters,Full,CR
2,3012,Container Parks,Empty,3003,Exporters,Full,CR
3,3013,Container Parks,Empty,3003,Exporters,Full,CR
4,3018,Container Parks,Empty,3003,Exporters,Full,CR
5,3025,Container Parks,Empty,3003,Exporters,Full,CR
6,3207,Container Parks,Empty,3003,Exporters,Full,CR
7,3003,Container Parks,Empty,3011,Exporters,Full,CR
8,3011,Container Parks,Empty,3011,Exporters,Full,CR
9,3012,Container Parks,Empty,3011,Exporters,Full,CR

Shape: (1804, 7)
Showing first 10 rows of 1804 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Exporters,Full,CR,1.856365
1,3011,Container Parks,Empty,3003,Exporters,Full,CR,14.097189
2,3012,Container Parks,Empty,3003,Exporters,Full,CR,16.510005
3,3013,Container Parks,Empty,3003,Exporters,Full,CR,14.619971
4,3018,Container Parks,Empty,3003,Exporters,Full,CR,22.135165
5,3025,Container Parks,Empty,3003,Exporters,Full,CR,21.248426
6,3207,Container Parks,Empty,3003,Exporters,Full,CR,9.829671
7,3003,Container Parks,Empty,3011,Exporters,Full,CR,11.612198
8,3011,Container Parks,Empty,3011,Exporters,Full,CR,4.499409
9,3012,Container Parks,Empty,3011,Exporters,Full,CR,6.467850

Shape: (1804, 8)
Showing first 10 rows of 1804 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Exporters,Full,CR,1.856365
1,3011,Container Parks,Empty,3003,Exporters,Full,CR,14.097189
2,3012,Container Parks,Empty,3003,Exporters,Full,CR,16.510005
3,3013,Container Parks,Empty,3003,Exporters,Full,CR,14.619971
4,3018,Container Parks,Empty,3003,Exporters,Full,CR,22.135165
5,3025,Container Parks,Empty,3003,Exporters,Full,CR,21.248426
6,3207,Container Parks,Empty,3003,Exporters,Full,CR,9.829671
7,3003,Container Parks,Empty,3011,Exporters,Full,CR,11.612198
8,3011,Container Parks,Empty,3011,Exporters,Full,CR,4.499409
9,3012,Container Parks,Empty,3011,Exporters,Full,CR,6.467850

Shape: (1804, 8)
Showing first 10 rows of 1804 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock East,I&MC,Export,Full,IMEX,CR,3003,Container Parks,Empty,3003,Exporters,Full,1.856365
1,Swanson Dock East,I&MC,Export,Full,IMEX,CR,3011,Container Parks,Empty,3003,Exporters,Full,14.097189
2,Swanson Dock East,I&MC,Export,Full,IMEX,CR,3012,Container Parks,Empty,3003,Exporters,Full,16.510005
3,Swanson Dock East,I&MC,Export,Full,IMEX,CR,3013,Container Parks,Empty,3003,Exporters,Full,14.619971
4,Swanson Dock East,I&MC,Export,Full,IMEX,CR,3018,Container Parks,Empty,3003,Exporters,Full,22.135165
5,Swanson Dock East,I&MC,Export,Full,IMEX,CR,3025,Container Parks,Empty,3003,Exporters,Full,21.248426
6,Swanson Dock East,I&MC,Export,Full,IMEX,CR,3207,Container Parks,Empty,3003,Exporters,Full,9.829671
7,Swanson Dock East,I&MC,Export,Full,IMEX,CR,3003,Container Parks,Empty,3011,Exporters,Full,11.612198
8,Swanson Dock East,I&MC,Export,Full,IMEX,CR,3011,Container Parks,Empty,3011,Exporters,Full,4.499409
9,Swanson Dock East,I&MC,Export,Full,IMEX,CR,3012,Container Parks,Empty,3011,Exporters,Full,6.467850

Shape: (1804, 13)
Showing first 10 rows of 1804 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (8000, 13)
Showing first 10 rows of 8000 total rows

Current gateway:['Swanson Dock East' 'I&MC' 'Export' 'Empty' 'IMEX' 3211.16310931953]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (33, 8)
Showing first 10 rows of 33 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
74,Swanson Dock East,I&MC,Export,Empty,IMEX,Container Parks,Container Parks,Swanson Dock East,Empty,Complete,BR,0.486188
75,Swanson Dock East,I&MC,Export,Empty,IMEX,Container Parks,Container Parks,Container Parks,Empty,Complete,IG,0.513812

Shape: (2, 12)

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3003,Container Parks,Swanson Dock East,Empty,Complete,BR
1,3003,Container Parks,Container Parks,Empty,Complete,IG
2,3011,Container Parks,Container Parks,Empty,Complete,IG
3,3012,Container Parks,Container Parks,Empty,Complete,IG
4,3013,Container Parks,Container Parks,Empty,Complete,IG
5,3018,Container Parks,Container Parks,Empty,Complete,IG
6,3025,Container Parks,Container Parks,Empty,Complete,IG
7,3207,Container Parks,Container Parks,Empty,Complete,IG

Shape: (8, 6)

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Container Parks,Empty,3003,Swanson Dock East,Complete,BR
1,3011,Container Parks,Empty,3003,Swanson Dock East,Complete,BR
2,3012,Container Parks,Empty,3003,Swanson Dock East,Complete,BR
3,3013,Container Parks,Empty,3003,Swanson Dock East,Complete,BR
4,3018,Container Parks,Empty,3003,Swanson Dock East,Complete,BR
5,3025,Container Parks,Empty,3003,Swanson Dock East,Complete,BR
6,3207,Container Parks,Empty,3003,Swanson Dock East,Complete,BR
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG

Shape: (56, 7)
Showing first 10 rows of 56 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,1.856365
1,3011,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,14.097189
2,3012,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,16.510005
3,3013,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,14.619971
4,3018,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,22.135165
5,3025,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,21.248426
6,3207,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,9.829671
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG,1.856365
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG,14.097189
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG,16.510005

Shape: (56, 8)
Showing first 10 rows of 56 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,1.856365
1,3011,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,14.097189
2,3012,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,16.510005
3,3013,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,14.619971
4,3018,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,22.135165
5,3025,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,21.248426
6,3207,Container Parks,Empty,3003,Swanson Dock East,Complete,BR,9.829671
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG,1.856365
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG,14.097189
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG,16.510005

Shape: (56, 8)
Showing first 10 rows of 56 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock East,I&MC,Export,Empty,IMEX,BR,3003,Container Parks,Empty,3003,Swanson Dock East,Complete,1.856365
1,Swanson Dock East,I&MC,Export,Empty,IMEX,BR,3011,Container Parks,Empty,3003,Swanson Dock East,Complete,14.097189
2,Swanson Dock East,I&MC,Export,Empty,IMEX,BR,3012,Container Parks,Empty,3003,Swanson Dock East,Complete,16.510005
3,Swanson Dock East,I&MC,Export,Empty,IMEX,BR,3013,Container Parks,Empty,3003,Swanson Dock East,Complete,14.619971
4,Swanson Dock East,I&MC,Export,Empty,IMEX,BR,3018,Container Parks,Empty,3003,Swanson Dock East,Complete,22.135165
5,Swanson Dock East,I&MC,Export,Empty,IMEX,BR,3025,Container Parks,Empty,3003,Swanson Dock East,Complete,21.248426
6,Swanson Dock East,I&MC,Export,Empty,IMEX,BR,3207,Container Parks,Empty,3003,Swanson Dock East,Complete,9.829671
7,Swanson Dock East,I&MC,Export,Empty,IMEX,IG,3003,Container Parks,Empty,3003,Container Parks,Complete,1.856365
8,Swanson Dock East,I&MC,Export,Empty,IMEX,IG,3011,Container Parks,Empty,3003,Container Parks,Complete,14.097189
9,Swanson Dock East,I&MC,Export,Empty,IMEX,IG,3012,Container Parks,Empty,3003,Container Parks,Complete,16.510005

Shape: (56, 13)
Showing first 10 rows of 56 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (8056, 13)
Showing first 10 rows of 8056 total rows

Current gateway:['Webb Dock South' 'I&MC' 'Import' 'Full' 'IMEX' 3524.94357158966]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (80, 8)
Showing first 10 rows of 80 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
76,Webb Dock South,I&MC,Import,Full,IMEX,Webb Dock South,Webb Dock South,PRS Terminals WIFT / BIFT,Full,Full,RL,0.121442
77,Webb Dock South,I&MC,Import,Full,IMEX,Webb Dock South,Webb Dock South,PRS Terminals Others,Full,Full,RL,0.083671
78,Webb Dock South,I&MC,Import,Full,IMEX,Webb Dock South,Webb Dock South,Importers,Full,Empty,CR,0.176977
79,Webb Dock South,I&MC,Import,Full,IMEX,Webb Dock South,Webb Dock South,Transport Depots,Full,Full,BR,0.617909
80,Webb Dock South,I&MC,Import,Full,IMEX,Webb Dock South,PRS Terminals WIFT / BIFT,Importers,Full,Empty,CR,0.085009
81,Webb Dock South,I&MC,Import,Full,IMEX,Webb Dock South,PRS Terminals WIFT / BIFT,Importers,Full,Complete,IG,0.036433
82,Webb Dock South,I&MC,Import,Full,IMEX,Webb Dock South,PRS Terminals Others,Importers,Full,Empty,CR,0.075304
83,Webb Dock South,I&MC,Import,Full,IMEX,Webb Dock South,PRS Terminals Others,Importers,Full,Complete,IG,0.008367
84,Webb Dock South,I&MC,Import,Full,IMEX,Webb Dock South,Transport Depots,Importers,Full,Empty,CR,0.617909
85,Webb Dock South,I&MC,Import,Full,IMEX,Webb Dock South,Importers,PRS Terminals WIFT / BIFT,Empty,Empty,CR,0.034800

Shape: (17, 12)
Showing first 10 rows of 17 total rows

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3029,Webb Dock South,PRS Terminals WIFT / BIFT,Full,Full,RL
1,3029,Webb Dock South,PRS Terminals WIFT / BIFT,Full,Full,RL
2,3753,Webb Dock South,PRS Terminals WIFT / BIFT,Full,Full,RL
3,3753,Webb Dock South,PRS Terminals WIFT / BIFT,Full,Full,RL
4,3018,Webb Dock South,PRS Terminals Others,Full,Full,RL
5,3975,Webb Dock South,PRS Terminals Others,Full,Full,RL
6,3062,Webb Dock South,PRS Terminals Others,Full,Full,RL
7,3003,Webb Dock South,Importers,Full,Empty,CR
8,3011,Webb Dock South,Importers,Full,Empty,CR
9,3012,Webb Dock South,Importers,Full,Empty,CR

Shape: (327, 6)
Showing first 10 rows of 327 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3207,Webb Dock South,Full,3029,PRS Terminals WIFT / BIFT,Full,RL
1,3207,Webb Dock South,Full,3029,PRS Terminals WIFT / BIFT,Full,RL
2,3207,Webb Dock South,Full,3753,PRS Terminals WIFT / BIFT,Full,RL
3,3207,Webb Dock South,Full,3753,PRS Terminals WIFT / BIFT,Full,RL
4,3207,Webb Dock South,Full,3018,PRS Terminals Others,Full,RL
5,3207,Webb Dock South,Full,3975,PRS Terminals Others,Full,RL
6,3207,Webb Dock South,Full,3062,PRS Terminals Others,Full,RL
7,3207,Webb Dock South,Full,3003,Importers,Empty,CR
8,3207,Webb Dock South,Full,3011,Importers,Empty,CR
9,3207,Webb Dock South,Full,3012,Importers,Empty,CR

Shape: (2098, 7)
Showing first 10 rows of 2098 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock South,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,25.531436
1,3207,Webb Dock South,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,25.531436
2,3207,Webb Dock South,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,49.308568
3,3207,Webb Dock South,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,49.308568
4,3207,Webb Dock South,Full,3018,PRS Terminals Others,Full,RL,17.347516
5,3207,Webb Dock South,Full,3975,PRS Terminals Others,Full,RL,40.029966
6,3207,Webb Dock South,Full,3062,PRS Terminals Others,Full,RL,31.470824
7,3207,Webb Dock South,Full,3003,Importers,Empty,CR,9.829671
8,3207,Webb Dock South,Full,3011,Importers,Empty,CR,10.285987
9,3207,Webb Dock South,Full,3012,Importers,Empty,CR,19.385217

Shape: (2098, 8)
Showing first 10 rows of 2098 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock South,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,25.531436
1,3207,Webb Dock South,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,25.531436
2,3207,Webb Dock South,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,49.308568
3,3207,Webb Dock South,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,49.308568
4,3207,Webb Dock South,Full,3018,PRS Terminals Others,Full,RL,17.347516
5,3207,Webb Dock South,Full,3975,PRS Terminals Others,Full,RL,40.029966
6,3207,Webb Dock South,Full,3062,PRS Terminals Others,Full,RL,31.470824
7,3207,Webb Dock South,Full,3003,Importers,Empty,CR,9.829671
8,3207,Webb Dock South,Full,3011,Importers,Empty,CR,10.285987
9,3207,Webb Dock South,Full,3012,Importers,Empty,CR,19.385217

Shape: (2098, 8)
Showing first 10 rows of 2098 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Webb Dock South,I&MC,Import,Full,IMEX,RL,3207,Webb Dock South,Full,3029,PRS Terminals WIFT / BIFT,Full,25.531436
1,Webb Dock South,I&MC,Import,Full,IMEX,RL,3207,Webb Dock South,Full,3029,PRS Terminals WIFT / BIFT,Full,25.531436
2,Webb Dock South,I&MC,Import,Full,IMEX,RL,3207,Webb Dock South,Full,3753,PRS Terminals WIFT / BIFT,Full,49.308568
3,Webb Dock South,I&MC,Import,Full,IMEX,RL,3207,Webb Dock South,Full,3753,PRS Terminals WIFT / BIFT,Full,49.308568
4,Webb Dock South,I&MC,Import,Full,IMEX,RL,3207,Webb Dock South,Full,3018,PRS Terminals Others,Full,17.347516
5,Webb Dock South,I&MC,Import,Full,IMEX,RL,3207,Webb Dock South,Full,3975,PRS Terminals Others,Full,40.029966
6,Webb Dock South,I&MC,Import,Full,IMEX,RL,3207,Webb Dock South,Full,3062,PRS Terminals Others,Full,31.470824
7,Webb Dock South,I&MC,Import,Full,IMEX,CR,3207,Webb Dock South,Full,3003,Importers,Empty,9.829671
8,Webb Dock South,I&MC,Import,Full,IMEX,CR,3207,Webb Dock South,Full,3011,Importers,Empty,10.285987
9,Webb Dock South,I&MC,Import,Full,IMEX,CR,3207,Webb Dock South,Full,3012,Importers,Empty,19.385217

Shape: (2098, 13)
Showing first 10 rows of 2098 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (10154, 13)
Showing first 10 rows of 10154 total rows

Current gateway:['Webb Dock South' 'I&MC' 'Import' 'Empty' 'IMEX' 262.420301801097]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (33, 8)
Showing first 10 rows of 33 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
93,Webb Dock South,I&MC,Import,Empty,IMEX,Webb Dock South,Webb Dock South,Container Parks,Empty,Complete,BR,0.521368
94,Webb Dock South,I&MC,Import,Empty,IMEX,Webb Dock South,Webb Dock South,Transport Depots,Empty,Empty,BR,0.378632
95,Webb Dock South,I&MC,Import,Empty,IMEX,Webb Dock South,Webb Dock South,PRS Terminals WIFT / BIFT,Empty,Complete,RL,0.050000
96,Webb Dock South,I&MC,Import,Empty,IMEX,Webb Dock South,Webb Dock South,PRS Terminals Others,Empty,Complete,RL,0.050000
97,Webb Dock South,I&MC,Import,Empty,IMEX,Webb Dock South,Transport Depots,Container Parks,Empty,Complete,BR,0.378632

Shape: (5, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode             From                To From State  To State Run Type
0        3003  Webb Dock South   Container Parks      Empty  Complete       BR
1        3011  Webb Dock South   Container Parks      Empty  Complete       BR
2        3012  Webb Dock South   Container Parks      Empty  Complete       BR
3        3013  Webb Dock South   Container Parks      Empty  Complete       BR
4        3018  Webb Dock South   Container Parks      Empty  Complete       BR
5        3025  Webb Dock South   Container Parks      Empty  Complete       BR
6        3207  Webb Dock South   Container Parks      Empty  Complete       BR
7        3175  Webb Dock South  Transport Depots      Empty     Empty       BR
8        3003  Webb Dock South  Transport Depots      Empty     Empty       BR
9        3043  Webb Dock South  Transport Depots      Empty     Empty       BR

Shape: (28, 6)
Showing first 10 rows of 28 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3207,Webb Dock South,Empty,3003,Container Parks,Complete,BR
1,3207,Webb Dock South,Empty,3011,Container Parks,Complete,BR
2,3207,Webb Dock South,Empty,3012,Container Parks,Complete,BR
3,3207,Webb Dock South,Empty,3013,Container Parks,Complete,BR
4,3207,Webb Dock South,Empty,3018,Container Parks,Complete,BR
5,3207,Webb Dock South,Empty,3025,Container Parks,Complete,BR
6,3207,Webb Dock South,Empty,3207,Container Parks,Complete,BR
7,3207,Webb Dock South,Empty,3175,Transport Depots,Empty,BR
8,3207,Webb Dock South,Empty,3003,Transport Depots,Empty,BR
9,3207,Webb Dock South,Empty,3043,Transport Depots,Empty,BR

Shape: (70, 7)
Showing first 10 rows of 70 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock South,Empty,3003,Container Parks,Complete,BR,9.829671
1,3207,Webb Dock South,Empty,3011,Container Parks,Complete,BR,10.285987
2,3207,Webb Dock South,Empty,3012,Container Parks,Complete,BR,19.385217
3,3207,Webb Dock South,Empty,3013,Container Parks,Complete,BR,13.308058
4,3207,Webb Dock South,Empty,3018,Container Parks,Complete,BR,17.347516
5,3207,Webb Dock South,Empty,3025,Container Parks,Complete,BR,15.930276
6,3207,Webb Dock South,Empty,3207,Container Parks,Complete,BR,5.168711
7,3207,Webb Dock South,Empty,3175,Transport Depots,Empty,BR,35.077571
8,3207,Webb Dock South,Empty,3003,Transport Depots,Empty,BR,9.829671
9,3207,Webb Dock South,Empty,3043,Transport Depots,Empty,BR,19.156555

Shape: (70, 8)
Showing first 10 rows of 70 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock South,Empty,3003,Container Parks,Complete,BR,9.829671
1,3207,Webb Dock South,Empty,3011,Container Parks,Complete,BR,10.285987
2,3207,Webb Dock South,Empty,3012,Container Parks,Complete,BR,19.385217
3,3207,Webb Dock South,Empty,3013,Container Parks,Complete,BR,13.308058
4,3207,Webb Dock South,Empty,3018,Container Parks,Complete,BR,17.347516
5,3207,Webb Dock South,Empty,3025,Container Parks,Complete,BR,15.930276
6,3207,Webb Dock South,Empty,3207,Container Parks,Complete,BR,5.168711
7,3207,Webb Dock South,Empty,3175,Transport Depots,Empty,BR,35.077571
8,3207,Webb Dock South,Empty,3003,Transport Depots,Empty,BR,9.829671
9,3207,Webb Dock South,Empty,3043,Transport Depots,Empty,BR,19.156555

Shape: (70, 8)
Showing first 10 rows of 70 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Webb Dock South,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock South,Empty,3003,Container Parks,Complete,9.829671
1,Webb Dock South,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock South,Empty,3011,Container Parks,Complete,10.285987
2,Webb Dock South,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock South,Empty,3012,Container Parks,Complete,19.385217
3,Webb Dock South,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock South,Empty,3013,Container Parks,Complete,13.308058
4,Webb Dock South,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock South,Empty,3018,Container Parks,Complete,17.347516
5,Webb Dock South,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock South,Empty,3025,Container Parks,Complete,15.930276
6,Webb Dock South,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock South,Empty,3207,Container Parks,Complete,5.168711
7,Webb Dock South,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock South,Empty,3175,Transport Depots,Empty,35.077571
8,Webb Dock South,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock South,Empty,3003,Transport Depots,Empty,9.829671
9,Webb Dock South,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock South,Empty,3043,Transport Depots,Empty,19.156555

Shape: (70, 13)
Showing first 10 rows of 70 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (10224, 13)
Showing first 10 rows of 10224 total rows

Current gateway:['Webb Dock South' 'I&MC' 'Export' 'Full' 'IMEX' 1169.26083726331]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (80, 8)
Showing first 10 rows of 80 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
98,Webb Dock South,I&MC,Export,Full,IMEX,Container Parks,Container Parks,Exporters,Empty,Full,CR,0.713113
99,Webb Dock South,I&MC,Export,Full,IMEX,Container Parks,Container Parks,Transport Depots,Empty,Empty,BR,0.217853
100,Webb Dock South,I&MC,Export,Full,IMEX,Container Parks,Container Parks,PRS Terminals WIFT / BIFT,Empty,Empty,IG,0.045247
101,Webb Dock South,I&MC,Export,Full,IMEX,Container Parks,Container Parks,PRS Terminals Others,Empty,Empty,IG,0.023787
102,Webb Dock South,I&MC,Export,Full,IMEX,Container Parks,Transport Depots,Exporters,Empty,Full,CR,0.217853
103,Webb Dock South,I&MC,Export,Full,IMEX,Container Parks,PRS Terminals WIFT / BIFT,Exporters,Empty,Full,CR,0.045247
104,Webb Dock South,I&MC,Export,Full,IMEX,Container Parks,PRS Terminals Others,Exporters,Empty,Full,CR,0.023787
105,Webb Dock South,I&MC,Export,Full,IMEX,Container Parks,Exporters,Webb Dock South,Full,Complete,CR,0.642732
106,Webb Dock South,I&MC,Export,Full,IMEX,Container Parks,Exporters,Transport Depots,Full,Full,CR,0.127157
107,Webb Dock South,I&MC,Export,Full,IMEX,Container Parks,Exporters,PRS Terminals WIFT / BIFT,Full,Full,CR,0.150823

Shape: (14, 12)
Showing first 10 rows of 14 total rows

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode             From         To From State To State Run Type
0        3003  Container Parks  Exporters      Empty     Full       CR
1        3011  Container Parks  Exporters      Empty     Full       CR
2        3012  Container Parks  Exporters      Empty     Full       CR
3        3013  Container Parks  Exporters      Empty     Full       CR
4        3018  Container Parks  Exporters      Empty     Full       CR
5        3020  Container Parks  Exporters      Empty     Full       CR
6        3023  Container Parks  Exporters      Empty     Full       CR
7        3025  Container Parks  Exporters      Empty     Full       CR
8        3026  Container Parks  Exporters      Empty     Full       CR
9        3028  Container Parks  Exporters      Empty     Full       CR

Shape: (220, 6)
Showing first 10 rows of 220 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Container Parks,Empty,3003,Exporters,Full,CR
1,3011,Container Parks,Empty,3003,Exporters,Full,CR
2,3012,Container Parks,Empty,3003,Exporters,Full,CR
3,3013,Container Parks,Empty,3003,Exporters,Full,CR
4,3018,Container Parks,Empty,3003,Exporters,Full,CR
5,3025,Container Parks,Empty,3003,Exporters,Full,CR
6,3207,Container Parks,Empty,3003,Exporters,Full,CR
7,3003,Container Parks,Empty,3011,Exporters,Full,CR
8,3011,Container Parks,Empty,3011,Exporters,Full,CR
9,3012,Container Parks,Empty,3011,Exporters,Full,CR

Shape: (1804, 7)
Showing first 10 rows of 1804 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Exporters,Full,CR,1.856365
1,3011,Container Parks,Empty,3003,Exporters,Full,CR,14.097189
2,3012,Container Parks,Empty,3003,Exporters,Full,CR,16.510005
3,3013,Container Parks,Empty,3003,Exporters,Full,CR,14.619971
4,3018,Container Parks,Empty,3003,Exporters,Full,CR,22.135165
5,3025,Container Parks,Empty,3003,Exporters,Full,CR,21.248426
6,3207,Container Parks,Empty,3003,Exporters,Full,CR,9.829671
7,3003,Container Parks,Empty,3011,Exporters,Full,CR,11.612198
8,3011,Container Parks,Empty,3011,Exporters,Full,CR,4.499409
9,3012,Container Parks,Empty,3011,Exporters,Full,CR,6.467850

Shape: (1804, 8)
Showing first 10 rows of 1804 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Exporters,Full,CR,1.856365
1,3011,Container Parks,Empty,3003,Exporters,Full,CR,14.097189
2,3012,Container Parks,Empty,3003,Exporters,Full,CR,16.510005
3,3013,Container Parks,Empty,3003,Exporters,Full,CR,14.619971
4,3018,Container Parks,Empty,3003,Exporters,Full,CR,22.135165
5,3025,Container Parks,Empty,3003,Exporters,Full,CR,21.248426
6,3207,Container Parks,Empty,3003,Exporters,Full,CR,9.829671
7,3003,Container Parks,Empty,3011,Exporters,Full,CR,11.612198
8,3011,Container Parks,Empty,3011,Exporters,Full,CR,4.499409
9,3012,Container Parks,Empty,3011,Exporters,Full,CR,6.467850

Shape: (1804, 8)
Showing first 10 rows of 1804 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Webb Dock South,I&MC,Export,Full,IMEX,CR,3003,Container Parks,Empty,3003,Exporters,Full,1.856365
1,Webb Dock South,I&MC,Export,Full,IMEX,CR,3011,Container Parks,Empty,3003,Exporters,Full,14.097189
2,Webb Dock South,I&MC,Export,Full,IMEX,CR,3012,Container Parks,Empty,3003,Exporters,Full,16.510005
3,Webb Dock South,I&MC,Export,Full,IMEX,CR,3013,Container Parks,Empty,3003,Exporters,Full,14.619971
4,Webb Dock South,I&MC,Export,Full,IMEX,CR,3018,Container Parks,Empty,3003,Exporters,Full,22.135165
5,Webb Dock South,I&MC,Export,Full,IMEX,CR,3025,Container Parks,Empty,3003,Exporters,Full,21.248426
6,Webb Dock South,I&MC,Export,Full,IMEX,CR,3207,Container Parks,Empty,3003,Exporters,Full,9.829671
7,Webb Dock South,I&MC,Export,Full,IMEX,CR,3003,Container Parks,Empty,3011,Exporters,Full,11.612198
8,Webb Dock South,I&MC,Export,Full,IMEX,CR,3011,Container Parks,Empty,3011,Exporters,Full,4.499409
9,Webb Dock South,I&MC,Export,Full,IMEX,CR,3012,Container Parks,Empty,3011,Exporters,Full,6.467850

Shape: (1804, 13)
Showing first 10 rows of 1804 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (12028, 13)
Showing first 10 rows of 12028 total rows

Current gateway:['Webb Dock South' 'I&MC' 'Export' 'Empty' 'IMEX' 2693.22138180473]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (33, 8)
Showing first 10 rows of 33 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
112,Webb Dock South,I&MC,Export,Empty,IMEX,Container Parks,Container Parks,Webb Dock South,Empty,Complete,BR,0.486188
113,Webb Dock South,I&MC,Export,Empty,IMEX,Container Parks,Container Parks,Container Parks,Empty,Complete,IG,0.513812

Shape: (2, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode             From               To From State  To State Run Type
0        3207  Container Parks  Webb Dock South      Empty  Complete       BR
1        3003  Container Parks  Container Parks      Empty  Complete       IG
2        3011  Container Parks  Container Parks      Empty  Complete       IG
3        3012  Container Parks  Container Parks      Empty  Complete       IG
4        3013  Container Parks  Container Parks      Empty  Complete       IG
5        3018  Container Parks  Container Parks      Empty  Complete       IG
6        3025  Container Parks  Container Parks      Empty  Complete       IG
7        3207  Container Parks  Container Parks      Empty  Complete       IG

Shape: (8, 6)

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Container Parks,Empty,3207,Webb Dock South,Complete,BR
1,3011,Container Parks,Empty,3207,Webb Dock South,Complete,BR
2,3012,Container Parks,Empty,3207,Webb Dock South,Complete,BR
3,3013,Container Parks,Empty,3207,Webb Dock South,Complete,BR
4,3018,Container Parks,Empty,3207,Webb Dock South,Complete,BR
5,3025,Container Parks,Empty,3207,Webb Dock South,Complete,BR
6,3207,Container Parks,Empty,3207,Webb Dock South,Complete,BR
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG

Shape: (56, 7)
Showing first 10 rows of 56 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3207,Webb Dock South,Complete,BR,9.214341
1,3011,Container Parks,Empty,3207,Webb Dock South,Complete,BR,18.317578
2,3012,Container Parks,Empty,3207,Webb Dock South,Complete,BR,14.602203
3,3013,Container Parks,Empty,3207,Webb Dock South,Complete,BR,13.132983
4,3018,Container Parks,Empty,3207,Webb Dock South,Complete,BR,22.605952
5,3025,Container Parks,Empty,3207,Webb Dock South,Complete,BR,17.549605
6,3207,Container Parks,Empty,3207,Webb Dock South,Complete,BR,5.168711
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG,1.856365
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG,14.097189
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG,16.510005

Shape: (56, 8)
Showing first 10 rows of 56 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3207,Webb Dock South,Complete,BR,9.214341
1,3011,Container Parks,Empty,3207,Webb Dock South,Complete,BR,18.317578
2,3012,Container Parks,Empty,3207,Webb Dock South,Complete,BR,14.602203
3,3013,Container Parks,Empty,3207,Webb Dock South,Complete,BR,13.132983
4,3018,Container Parks,Empty,3207,Webb Dock South,Complete,BR,22.605952
5,3025,Container Parks,Empty,3207,Webb Dock South,Complete,BR,17.549605
6,3207,Container Parks,Empty,3207,Webb Dock South,Complete,BR,5.168711
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG,1.856365
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG,14.097189
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG,16.510005

Shape: (56, 8)
Showing first 10 rows of 56 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Webb Dock South,I&MC,Export,Empty,IMEX,BR,3003,Container Parks,Empty,3207,Webb Dock South,Complete,9.214341
1,Webb Dock South,I&MC,Export,Empty,IMEX,BR,3011,Container Parks,Empty,3207,Webb Dock South,Complete,18.317578
2,Webb Dock South,I&MC,Export,Empty,IMEX,BR,3012,Container Parks,Empty,3207,Webb Dock South,Complete,14.602203
3,Webb Dock South,I&MC,Export,Empty,IMEX,BR,3013,Container Parks,Empty,3207,Webb Dock South,Complete,13.132983
4,Webb Dock South,I&MC,Export,Empty,IMEX,BR,3018,Container Parks,Empty,3207,Webb Dock South,Complete,22.605952
5,Webb Dock South,I&MC,Export,Empty,IMEX,BR,3025,Container Parks,Empty,3207,Webb Dock South,Complete,17.549605
6,Webb Dock South,I&MC,Export,Empty,IMEX,BR,3207,Container Parks,Empty,3207,Webb Dock South,Complete,5.168711
7,Webb Dock South,I&MC,Export,Empty,IMEX,IG,3003,Container Parks,Empty,3003,Container Parks,Complete,1.856365
8,Webb Dock South,I&MC,Export,Empty,IMEX,IG,3011,Container Parks,Empty,3003,Container Parks,Complete,14.097189
9,Webb Dock South,I&MC,Export,Empty,IMEX,IG,3012,Container Parks,Empty,3003,Container Parks,Complete,16.510005

Shape: (56, 13)
Showing first 10 rows of 56 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (12084, 13)
Showing first 10 rows of 12084 total rows

Current gateway:['Webb Dock North' 'I&MC' 'Import' 'Full' 'IMEX' 3524.94357158966]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (80, 8)
Showing first 10 rows of 80 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
114,Webb Dock North,I&MC,Import,Full,IMEX,Webb Dock North,Webb Dock North,PRS Terminals WIFT / BIFT,Full,Full,RL,0.121442
115,Webb Dock North,I&MC,Import,Full,IMEX,Webb Dock North,Webb Dock North,PRS Terminals Others,Full,Full,RL,0.083671
116,Webb Dock North,I&MC,Import,Full,IMEX,Webb Dock North,Webb Dock North,Importers,Full,Empty,CR,0.176977
117,Webb Dock North,I&MC,Import,Full,IMEX,Webb Dock North,Webb Dock North,Transport Depots,Full,Full,BR,0.617909
118,Webb Dock North,I&MC,Import,Full,IMEX,Webb Dock North,PRS Terminals WIFT / BIFT,Importers,Full,Empty,CR,0.085009
119,Webb Dock North,I&MC,Import,Full,IMEX,Webb Dock North,PRS Terminals WIFT / BIFT,Importers,Full,Complete,IG,0.036433
120,Webb Dock North,I&MC,Import,Full,IMEX,Webb Dock North,PRS Terminals Others,Importers,Full,Empty,CR,0.075304
121,Webb Dock North,I&MC,Import,Full,IMEX,Webb Dock North,PRS Terminals Others,Importers,Full,Complete,IG,0.008367
122,Webb Dock North,I&MC,Import,Full,IMEX,Webb Dock North,Transport Depots,Importers,Full,Empty,CR,0.617909
123,Webb Dock North,I&MC,Import,Full,IMEX,Webb Dock North,Importers,PRS Terminals WIFT / BIFT,Empty,Empty,CR,0.034800

Shape: (17, 12)
Showing first 10 rows of 17 total rows

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3029,Webb Dock North,PRS Terminals WIFT / BIFT,Full,Full,RL
1,3029,Webb Dock North,PRS Terminals WIFT / BIFT,Full,Full,RL
2,3753,Webb Dock North,PRS Terminals WIFT / BIFT,Full,Full,RL
3,3753,Webb Dock North,PRS Terminals WIFT / BIFT,Full,Full,RL
4,3018,Webb Dock North,PRS Terminals Others,Full,Full,RL
5,3975,Webb Dock North,PRS Terminals Others,Full,Full,RL
6,3062,Webb Dock North,PRS Terminals Others,Full,Full,RL
7,3003,Webb Dock North,Importers,Full,Empty,CR
8,3011,Webb Dock North,Importers,Full,Empty,CR
9,3012,Webb Dock North,Importers,Full,Empty,CR

Shape: (327, 6)
Showing first 10 rows of 327 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3207,Webb Dock North,Full,3029,PRS Terminals WIFT / BIFT,Full,RL
1,3207,Webb Dock North,Full,3029,PRS Terminals WIFT / BIFT,Full,RL
2,3207,Webb Dock North,Full,3753,PRS Terminals WIFT / BIFT,Full,RL
3,3207,Webb Dock North,Full,3753,PRS Terminals WIFT / BIFT,Full,RL
4,3207,Webb Dock North,Full,3018,PRS Terminals Others,Full,RL
5,3207,Webb Dock North,Full,3975,PRS Terminals Others,Full,RL
6,3207,Webb Dock North,Full,3062,PRS Terminals Others,Full,RL
7,3207,Webb Dock North,Full,3003,Importers,Empty,CR
8,3207,Webb Dock North,Full,3011,Importers,Empty,CR
9,3207,Webb Dock North,Full,3012,Importers,Empty,CR

Shape: (2098, 7)
Showing first 10 rows of 2098 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock North,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,25.531436
1,3207,Webb Dock North,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,25.531436
2,3207,Webb Dock North,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,49.308568
3,3207,Webb Dock North,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,49.308568
4,3207,Webb Dock North,Full,3018,PRS Terminals Others,Full,RL,17.347516
5,3207,Webb Dock North,Full,3975,PRS Terminals Others,Full,RL,40.029966
6,3207,Webb Dock North,Full,3062,PRS Terminals Others,Full,RL,31.470824
7,3207,Webb Dock North,Full,3003,Importers,Empty,CR,9.829671
8,3207,Webb Dock North,Full,3011,Importers,Empty,CR,10.285987
9,3207,Webb Dock North,Full,3012,Importers,Empty,CR,19.385217

Shape: (2098, 8)
Showing first 10 rows of 2098 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock North,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,25.531436
1,3207,Webb Dock North,Full,3029,PRS Terminals WIFT / BIFT,Full,RL,25.531436
2,3207,Webb Dock North,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,49.308568
3,3207,Webb Dock North,Full,3753,PRS Terminals WIFT / BIFT,Full,RL,49.308568
4,3207,Webb Dock North,Full,3018,PRS Terminals Others,Full,RL,17.347516
5,3207,Webb Dock North,Full,3975,PRS Terminals Others,Full,RL,40.029966
6,3207,Webb Dock North,Full,3062,PRS Terminals Others,Full,RL,31.470824
7,3207,Webb Dock North,Full,3003,Importers,Empty,CR,9.829671
8,3207,Webb Dock North,Full,3011,Importers,Empty,CR,10.285987
9,3207,Webb Dock North,Full,3012,Importers,Empty,CR,19.385217

Shape: (2098, 8)
Showing first 10 rows of 2098 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Webb Dock North,I&MC,Import,Full,IMEX,RL,3207,Webb Dock North,Full,3029,PRS Terminals WIFT / BIFT,Full,25.531436
1,Webb Dock North,I&MC,Import,Full,IMEX,RL,3207,Webb Dock North,Full,3029,PRS Terminals WIFT / BIFT,Full,25.531436
2,Webb Dock North,I&MC,Import,Full,IMEX,RL,3207,Webb Dock North,Full,3753,PRS Terminals WIFT / BIFT,Full,49.308568
3,Webb Dock North,I&MC,Import,Full,IMEX,RL,3207,Webb Dock North,Full,3753,PRS Terminals WIFT / BIFT,Full,49.308568
4,Webb Dock North,I&MC,Import,Full,IMEX,RL,3207,Webb Dock North,Full,3018,PRS Terminals Others,Full,17.347516
5,Webb Dock North,I&MC,Import,Full,IMEX,RL,3207,Webb Dock North,Full,3975,PRS Terminals Others,Full,40.029966
6,Webb Dock North,I&MC,Import,Full,IMEX,RL,3207,Webb Dock North,Full,3062,PRS Terminals Others,Full,31.470824
7,Webb Dock North,I&MC,Import,Full,IMEX,CR,3207,Webb Dock North,Full,3003,Importers,Empty,9.829671
8,Webb Dock North,I&MC,Import,Full,IMEX,CR,3207,Webb Dock North,Full,3011,Importers,Empty,10.285987
9,Webb Dock North,I&MC,Import,Full,IMEX,CR,3207,Webb Dock North,Full,3012,Importers,Empty,19.385217

Shape: (2098, 13)
Showing first 10 rows of 2098 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (14182, 13)
Showing first 10 rows of 14182 total rows

Current gateway:['Webb Dock North' 'I&MC' 'Import' 'Empty' 'IMEX' 262.420301801097]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (33, 8)
Showing first 10 rows of 33 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
131,Webb Dock North,I&MC,Import,Empty,IMEX,Webb Dock North,Webb Dock North,Container Parks,Empty,Complete,BR,0.521368
132,Webb Dock North,I&MC,Import,Empty,IMEX,Webb Dock North,Webb Dock North,Transport Depots,Empty,Empty,BR,0.378632
133,Webb Dock North,I&MC,Import,Empty,IMEX,Webb Dock North,Webb Dock North,PRS Terminals WIFT / BIFT,Empty,Complete,RL,0.050000
134,Webb Dock North,I&MC,Import,Empty,IMEX,Webb Dock North,Webb Dock North,PRS Terminals Others,Empty,Complete,RL,0.050000
135,Webb Dock North,I&MC,Import,Empty,IMEX,Webb Dock North,Transport Depots,Container Parks,Empty,Complete,BR,0.378632

Shape: (5, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode             From                To From State  To State Run Type
0        3003  Webb Dock North   Container Parks      Empty  Complete       BR
1        3011  Webb Dock North   Container Parks      Empty  Complete       BR
2        3012  Webb Dock North   Container Parks      Empty  Complete       BR
3        3013  Webb Dock North   Container Parks      Empty  Complete       BR
4        3018  Webb Dock North   Container Parks      Empty  Complete       BR
5        3025  Webb Dock North   Container Parks      Empty  Complete       BR
6        3207  Webb Dock North   Container Parks      Empty  Complete       BR
7        3175  Webb Dock North  Transport Depots      Empty     Empty       BR
8        3003  Webb Dock North  Transport Depots      Empty     Empty       BR
9        3043  Webb Dock North  Transport Depots      Empty     Empty       BR

Shape: (28, 6)
Showing first 10 rows of 28 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3207,Webb Dock North,Empty,3003,Container Parks,Complete,BR
1,3207,Webb Dock North,Empty,3011,Container Parks,Complete,BR
2,3207,Webb Dock North,Empty,3012,Container Parks,Complete,BR
3,3207,Webb Dock North,Empty,3013,Container Parks,Complete,BR
4,3207,Webb Dock North,Empty,3018,Container Parks,Complete,BR
5,3207,Webb Dock North,Empty,3025,Container Parks,Complete,BR
6,3207,Webb Dock North,Empty,3207,Container Parks,Complete,BR
7,3207,Webb Dock North,Empty,3175,Transport Depots,Empty,BR
8,3207,Webb Dock North,Empty,3003,Transport Depots,Empty,BR
9,3207,Webb Dock North,Empty,3043,Transport Depots,Empty,BR

Shape: (70, 7)
Showing first 10 rows of 70 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock North,Empty,3003,Container Parks,Complete,BR,9.829671
1,3207,Webb Dock North,Empty,3011,Container Parks,Complete,BR,10.285987
2,3207,Webb Dock North,Empty,3012,Container Parks,Complete,BR,19.385217
3,3207,Webb Dock North,Empty,3013,Container Parks,Complete,BR,13.308058
4,3207,Webb Dock North,Empty,3018,Container Parks,Complete,BR,17.347516
5,3207,Webb Dock North,Empty,3025,Container Parks,Complete,BR,15.930276
6,3207,Webb Dock North,Empty,3207,Container Parks,Complete,BR,5.168711
7,3207,Webb Dock North,Empty,3175,Transport Depots,Empty,BR,35.077571
8,3207,Webb Dock North,Empty,3003,Transport Depots,Empty,BR,9.829671
9,3207,Webb Dock North,Empty,3043,Transport Depots,Empty,BR,19.156555

Shape: (70, 8)
Showing first 10 rows of 70 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock North,Empty,3003,Container Parks,Complete,BR,9.829671
1,3207,Webb Dock North,Empty,3011,Container Parks,Complete,BR,10.285987
2,3207,Webb Dock North,Empty,3012,Container Parks,Complete,BR,19.385217
3,3207,Webb Dock North,Empty,3013,Container Parks,Complete,BR,13.308058
4,3207,Webb Dock North,Empty,3018,Container Parks,Complete,BR,17.347516
5,3207,Webb Dock North,Empty,3025,Container Parks,Complete,BR,15.930276
6,3207,Webb Dock North,Empty,3207,Container Parks,Complete,BR,5.168711
7,3207,Webb Dock North,Empty,3175,Transport Depots,Empty,BR,35.077571
8,3207,Webb Dock North,Empty,3003,Transport Depots,Empty,BR,9.829671
9,3207,Webb Dock North,Empty,3043,Transport Depots,Empty,BR,19.156555

Shape: (70, 8)
Showing first 10 rows of 70 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Webb Dock North,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock North,Empty,3003,Container Parks,Complete,9.829671
1,Webb Dock North,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock North,Empty,3011,Container Parks,Complete,10.285987
2,Webb Dock North,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock North,Empty,3012,Container Parks,Complete,19.385217
3,Webb Dock North,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock North,Empty,3013,Container Parks,Complete,13.308058
4,Webb Dock North,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock North,Empty,3018,Container Parks,Complete,17.347516
5,Webb Dock North,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock North,Empty,3025,Container Parks,Complete,15.930276
6,Webb Dock North,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock North,Empty,3207,Container Parks,Complete,5.168711
7,Webb Dock North,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock North,Empty,3175,Transport Depots,Empty,35.077571
8,Webb Dock North,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock North,Empty,3003,Transport Depots,Empty,9.829671
9,Webb Dock North,I&MC,Import,Empty,IMEX,BR,3207,Webb Dock North,Empty,3043,Transport Depots,Empty,19.156555

Shape: (70, 13)
Showing first 10 rows of 70 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (14252, 13)
Showing first 10 rows of 14252 total rows

Current gateway:['Webb Dock North' 'I&MC' 'Export' 'Full' 'IMEX' 1169.26083726331]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (80, 8)
Showing first 10 rows of 80 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
136,Webb Dock North,I&MC,Export,Full,IMEX,Container Parks,Container Parks,Exporters,Empty,Full,CR,0.713113
137,Webb Dock North,I&MC,Export,Full,IMEX,Container Parks,Container Parks,Transport Depots,Empty,Empty,BR,0.217853
138,Webb Dock North,I&MC,Export,Full,IMEX,Container Parks,Container Parks,PRS Terminals WIFT / BIFT,Empty,Empty,IG,0.045247
139,Webb Dock North,I&MC,Export,Full,IMEX,Container Parks,Container Parks,PRS Terminals Others,Empty,Empty,IG,0.023787
140,Webb Dock North,I&MC,Export,Full,IMEX,Container Parks,Transport Depots,Exporters,Empty,Full,CR,0.217853
141,Webb Dock North,I&MC,Export,Full,IMEX,Container Parks,PRS Terminals WIFT / BIFT,Exporters,Empty,Full,CR,0.045247
142,Webb Dock North,I&MC,Export,Full,IMEX,Container Parks,PRS Terminals Others,Exporters,Empty,Full,CR,0.023787
143,Webb Dock North,I&MC,Export,Full,IMEX,Container Parks,Exporters,Webb Dock North,Full,Complete,CR,0.642732
144,Webb Dock North,I&MC,Export,Full,IMEX,Container Parks,Exporters,Transport Depots,Full,Full,CR,0.127157
145,Webb Dock North,I&MC,Export,Full,IMEX,Container Parks,Exporters,PRS Terminals WIFT / BIFT,Full,Full,CR,0.150823

Shape: (14, 12)
Showing first 10 rows of 14 total rows

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode             From         To From State To State Run Type
0        3003  Container Parks  Exporters      Empty     Full       CR
1        3011  Container Parks  Exporters      Empty     Full       CR
2        3012  Container Parks  Exporters      Empty     Full       CR
3        3013  Container Parks  Exporters      Empty     Full       CR
4        3018  Container Parks  Exporters      Empty     Full       CR
5        3020  Container Parks  Exporters      Empty     Full       CR
6        3023  Container Parks  Exporters      Empty     Full       CR
7        3025  Container Parks  Exporters      Empty     Full       CR
8        3026  Container Parks  Exporters      Empty     Full       CR
9        3028  Container Parks  Exporters      Empty     Full       CR

Shape: (220, 6)
Showing first 10 rows of 220 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Container Parks,Empty,3003,Exporters,Full,CR
1,3011,Container Parks,Empty,3003,Exporters,Full,CR
2,3012,Container Parks,Empty,3003,Exporters,Full,CR
3,3013,Container Parks,Empty,3003,Exporters,Full,CR
4,3018,Container Parks,Empty,3003,Exporters,Full,CR
5,3025,Container Parks,Empty,3003,Exporters,Full,CR
6,3207,Container Parks,Empty,3003,Exporters,Full,CR
7,3003,Container Parks,Empty,3011,Exporters,Full,CR
8,3011,Container Parks,Empty,3011,Exporters,Full,CR
9,3012,Container Parks,Empty,3011,Exporters,Full,CR

Shape: (1804, 7)
Showing first 10 rows of 1804 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Exporters,Full,CR,1.856365
1,3011,Container Parks,Empty,3003,Exporters,Full,CR,14.097189
2,3012,Container Parks,Empty,3003,Exporters,Full,CR,16.510005
3,3013,Container Parks,Empty,3003,Exporters,Full,CR,14.619971
4,3018,Container Parks,Empty,3003,Exporters,Full,CR,22.135165
5,3025,Container Parks,Empty,3003,Exporters,Full,CR,21.248426
6,3207,Container Parks,Empty,3003,Exporters,Full,CR,9.829671
7,3003,Container Parks,Empty,3011,Exporters,Full,CR,11.612198
8,3011,Container Parks,Empty,3011,Exporters,Full,CR,4.499409
9,3012,Container Parks,Empty,3011,Exporters,Full,CR,6.467850

Shape: (1804, 8)
Showing first 10 rows of 1804 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Exporters,Full,CR,1.856365
1,3011,Container Parks,Empty,3003,Exporters,Full,CR,14.097189
2,3012,Container Parks,Empty,3003,Exporters,Full,CR,16.510005
3,3013,Container Parks,Empty,3003,Exporters,Full,CR,14.619971
4,3018,Container Parks,Empty,3003,Exporters,Full,CR,22.135165
5,3025,Container Parks,Empty,3003,Exporters,Full,CR,21.248426
6,3207,Container Parks,Empty,3003,Exporters,Full,CR,9.829671
7,3003,Container Parks,Empty,3011,Exporters,Full,CR,11.612198
8,3011,Container Parks,Empty,3011,Exporters,Full,CR,4.499409
9,3012,Container Parks,Empty,3011,Exporters,Full,CR,6.467850

Shape: (1804, 8)
Showing first 10 rows of 1804 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Webb Dock North,I&MC,Export,Full,IMEX,CR,3003,Container Parks,Empty,3003,Exporters,Full,1.856365
1,Webb Dock North,I&MC,Export,Full,IMEX,CR,3011,Container Parks,Empty,3003,Exporters,Full,14.097189
2,Webb Dock North,I&MC,Export,Full,IMEX,CR,3012,Container Parks,Empty,3003,Exporters,Full,16.510005
3,Webb Dock North,I&MC,Export,Full,IMEX,CR,3013,Container Parks,Empty,3003,Exporters,Full,14.619971
4,Webb Dock North,I&MC,Export,Full,IMEX,CR,3018,Container Parks,Empty,3003,Exporters,Full,22.135165
5,Webb Dock North,I&MC,Export,Full,IMEX,CR,3025,Container Parks,Empty,3003,Exporters,Full,21.248426
6,Webb Dock North,I&MC,Export,Full,IMEX,CR,3207,Container Parks,Empty,3003,Exporters,Full,9.829671
7,Webb Dock North,I&MC,Export,Full,IMEX,CR,3003,Container Parks,Empty,3011,Exporters,Full,11.612198
8,Webb Dock North,I&MC,Export,Full,IMEX,CR,3011,Container Parks,Empty,3011,Exporters,Full,4.499409
9,Webb Dock North,I&MC,Export,Full,IMEX,CR,3012,Container Parks,Empty,3011,Exporters,Full,6.467850

Shape: (1804, 13)
Showing first 10 rows of 1804 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (16056, 13)
Showing first 10 rows of 16056 total rows

Current gateway:['Webb Dock North' 'I&MC' 'Export' 'Empty' 'IMEX' 2693.22138180473]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (33, 8)
Showing first 10 rows of 33 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
150,Webb Dock North,I&MC,Export,Empty,IMEX,Container Parks,Container Parks,Webb Dock North,Empty,Complete,BR,0.486188
151,Webb Dock North,I&MC,Export,Empty,IMEX,Container Parks,Container Parks,Container Parks,Empty,Complete,IG,0.513812

Shape: (2, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode             From               To From State  To State Run Type
0        3207  Container Parks  Webb Dock North      Empty  Complete       BR
1        3003  Container Parks  Container Parks      Empty  Complete       IG
2        3011  Container Parks  Container Parks      Empty  Complete       IG
3        3012  Container Parks  Container Parks      Empty  Complete       IG
4        3013  Container Parks  Container Parks      Empty  Complete       IG
5        3018  Container Parks  Container Parks      Empty  Complete       IG
6        3025  Container Parks  Container Parks      Empty  Complete       IG
7        3207  Container Parks  Container Parks      Empty  Complete       IG

Shape: (8, 6)

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Container Parks,Empty,3207,Webb Dock North,Complete,BR
1,3011,Container Parks,Empty,3207,Webb Dock North,Complete,BR
2,3012,Container Parks,Empty,3207,Webb Dock North,Complete,BR
3,3013,Container Parks,Empty,3207,Webb Dock North,Complete,BR
4,3018,Container Parks,Empty,3207,Webb Dock North,Complete,BR
5,3025,Container Parks,Empty,3207,Webb Dock North,Complete,BR
6,3207,Container Parks,Empty,3207,Webb Dock North,Complete,BR
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG

Shape: (56, 7)
Showing first 10 rows of 56 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3207,Webb Dock North,Complete,BR,9.214341
1,3011,Container Parks,Empty,3207,Webb Dock North,Complete,BR,18.317578
2,3012,Container Parks,Empty,3207,Webb Dock North,Complete,BR,14.602203
3,3013,Container Parks,Empty,3207,Webb Dock North,Complete,BR,13.132983
4,3018,Container Parks,Empty,3207,Webb Dock North,Complete,BR,22.605952
5,3025,Container Parks,Empty,3207,Webb Dock North,Complete,BR,17.549605
6,3207,Container Parks,Empty,3207,Webb Dock North,Complete,BR,5.168711
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG,1.856365
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG,14.097189
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG,16.510005

Shape: (56, 8)
Showing first 10 rows of 56 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3207,Webb Dock North,Complete,BR,9.214341
1,3011,Container Parks,Empty,3207,Webb Dock North,Complete,BR,18.317578
2,3012,Container Parks,Empty,3207,Webb Dock North,Complete,BR,14.602203
3,3013,Container Parks,Empty,3207,Webb Dock North,Complete,BR,13.132983
4,3018,Container Parks,Empty,3207,Webb Dock North,Complete,BR,22.605952
5,3025,Container Parks,Empty,3207,Webb Dock North,Complete,BR,17.549605
6,3207,Container Parks,Empty,3207,Webb Dock North,Complete,BR,5.168711
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG,1.856365
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG,14.097189
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG,16.510005

Shape: (56, 8)
Showing first 10 rows of 56 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Webb Dock North,I&MC,Export,Empty,IMEX,BR,3003,Container Parks,Empty,3207,Webb Dock North,Complete,9.214341
1,Webb Dock North,I&MC,Export,Empty,IMEX,BR,3011,Container Parks,Empty,3207,Webb Dock North,Complete,18.317578
2,Webb Dock North,I&MC,Export,Empty,IMEX,BR,3012,Container Parks,Empty,3207,Webb Dock North,Complete,14.602203
3,Webb Dock North,I&MC,Export,Empty,IMEX,BR,3013,Container Parks,Empty,3207,Webb Dock North,Complete,13.132983
4,Webb Dock North,I&MC,Export,Empty,IMEX,BR,3018,Container Parks,Empty,3207,Webb Dock North,Complete,22.605952
5,Webb Dock North,I&MC,Export,Empty,IMEX,BR,3025,Container Parks,Empty,3207,Webb Dock North,Complete,17.549605
6,Webb Dock North,I&MC,Export,Empty,IMEX,BR,3207,Container Parks,Empty,3207,Webb Dock North,Complete,5.168711
7,Webb Dock North,I&MC,Export,Empty,IMEX,IG,3003,Container Parks,Empty,3003,Container Parks,Complete,1.856365
8,Webb Dock North,I&MC,Export,Empty,IMEX,IG,3011,Container Parks,Empty,3003,Container Parks,Complete,14.097189
9,Webb Dock North,I&MC,Export,Empty,IMEX,IG,3012,Container Parks,Empty,3003,Container Parks,Complete,16.510005

Shape: (56, 13)
Showing first 10 rows of 56 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (16112, 13)
Showing first 10 rows of 16112 total rows

Current gateway:['Appleton Dock' 'TAS' 'Import' 'Full' 'IMEX' 746.146039154266]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (49, 8)
Showing first 10 rows of 49 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
152,Appleton Dock,TAS,Import,Full,IMEX,Appleton Dock,Appleton Dock,Importers,Full,Empty,CR,0.176977
153,Appleton Dock,TAS,Import,Full,IMEX,Appleton Dock,Appleton Dock,Transport Depots,Full,Full,BR,0.823023
154,Appleton Dock,TAS,Import,Full,IMEX,Appleton Dock,Transport Depots,Importers,Full,Empty,CR,0.823023
155,Appleton Dock,TAS,Import,Full,IMEX,Appleton Dock,Importers,Container Parks,Empty,Complete,CR,0.422187
156,Appleton Dock,TAS,Import,Full,IMEX,Appleton Dock,Importers,Transport Depots,Empty,Empty,CR,0.577813
157,Appleton Dock,TAS,Import,Full,IMEX,Appleton Dock,Transport Depots,Appleton Dock,Empty,Complete,BR,0.288907
158,Appleton Dock,TAS,Import,Full,IMEX,Appleton Dock,Transport Depots,Container Parks,Empty,Complete,BR,0.288907

Shape: (7, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode           From         To From State To State Run Type
0        3003  Appleton Dock  Importers       Full    Empty       CR
1        3012  Appleton Dock  Importers       Full    Empty       CR
2        3018  Appleton Dock  Importers       Full    Empty       CR
3        3020  Appleton Dock  Importers       Full    Empty       CR
4        3025  Appleton Dock  Importers       Full    Empty       CR
5        3026  Appleton Dock  Importers       Full    Empty       CR
6        3029  Appleton Dock  Importers       Full    Empty       CR
7        3045  Appleton Dock  Importers       Full    Empty       CR
8        3047  Appleton Dock  Importers       Full    Empty       CR
9        3061  Appleton Dock  Importers       Full    Empty       CR

Shape: (75, 6)
Showing first 10 rows of 75 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Appleton Dock,Full,3003,Importers,Empty,CR
1,3003,Appleton Dock,Full,3012,Importers,Empty,CR
2,3003,Appleton Dock,Full,3018,Importers,Empty,CR
3,3003,Appleton Dock,Full,3020,Importers,Empty,CR
4,3003,Appleton Dock,Full,3025,Importers,Empty,CR
5,3003,Appleton Dock,Full,3026,Importers,Empty,CR
6,3003,Appleton Dock,Full,3029,Importers,Empty,CR
7,3003,Appleton Dock,Full,3045,Importers,Empty,CR
8,3003,Appleton Dock,Full,3047,Importers,Empty,CR
9,3003,Appleton Dock,Full,3061,Importers,Empty,CR

Shape: (569, 7)
Showing first 10 rows of 569 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Appleton Dock,Full,3003,Importers,Empty,CR,1.856365
1,3003,Appleton Dock,Full,3012,Importers,Empty,CR,14.160464
2,3003,Appleton Dock,Full,3018,Importers,Empty,CR,18.705176
3,3003,Appleton Dock,Full,3020,Importers,Empty,CR,20.225221
4,3003,Appleton Dock,Full,3025,Importers,Empty,CR,19.335507
5,3003,Appleton Dock,Full,3026,Importers,Empty,CR,16.060275
6,3003,Appleton Dock,Full,3029,Importers,Empty,CR,27.543957
7,3003,Appleton Dock,Full,3045,Importers,Empty,CR,17.402717
8,3003,Appleton Dock,Full,3047,Importers,Empty,CR,24.001559
9,3003,Appleton Dock,Full,3061,Importers,Empty,CR,29.930476

Shape: (569, 8)
Showing first 10 rows of 569 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Appleton Dock,Full,3003,Importers,Empty,CR,1.856365
1,3003,Appleton Dock,Full,3012,Importers,Empty,CR,14.160464
2,3003,Appleton Dock,Full,3018,Importers,Empty,CR,18.705176
3,3003,Appleton Dock,Full,3020,Importers,Empty,CR,20.225221
4,3003,Appleton Dock,Full,3025,Importers,Empty,CR,19.335507
5,3003,Appleton Dock,Full,3026,Importers,Empty,CR,16.060275
6,3003,Appleton Dock,Full,3029,Importers,Empty,CR,27.543957
7,3003,Appleton Dock,Full,3045,Importers,Empty,CR,17.402717
8,3003,Appleton Dock,Full,3047,Importers,Empty,CR,24.001559
9,3003,Appleton Dock,Full,3061,Importers,Empty,CR,29.930476

Shape: (569, 8)
Showing first 10 rows of 569 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Appleton Dock,TAS,Import,Full,IMEX,CR,3003,Appleton Dock,Full,3003,Importers,Empty,1.856365
1,Appleton Dock,TAS,Import,Full,IMEX,CR,3003,Appleton Dock,Full,3012,Importers,Empty,14.160464
2,Appleton Dock,TAS,Import,Full,IMEX,CR,3003,Appleton Dock,Full,3018,Importers,Empty,18.705176
3,Appleton Dock,TAS,Import,Full,IMEX,CR,3003,Appleton Dock,Full,3020,Importers,Empty,20.225221
4,Appleton Dock,TAS,Import,Full,IMEX,CR,3003,Appleton Dock,Full,3025,Importers,Empty,19.335507
5,Appleton Dock,TAS,Import,Full,IMEX,CR,3003,Appleton Dock,Full,3026,Importers,Empty,16.060275
6,Appleton Dock,TAS,Import,Full,IMEX,CR,3003,Appleton Dock,Full,3029,Importers,Empty,27.543957
7,Appleton Dock,TAS,Import,Full,IMEX,CR,3003,Appleton Dock,Full,3045,Importers,Empty,17.402717
8,Appleton Dock,TAS,Import,Full,IMEX,CR,3003,Appleton Dock,Full,3047,Importers,Empty,24.001559
9,Appleton Dock,TAS,Import,Full,IMEX,CR,3003,Appleton Dock,Full,3061,Importers,Empty,29.930476

Shape: (569, 13)
Showing first 10 rows of 569 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (16681, 13)
Showing first 10 rows of 16681 total rows

Current gateway:['Appleton Dock' 'TAS' 'Import' 'Empty' 'IMEX' 141.756664056382]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (26, 8)
Showing first 10 rows of 26 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
159,Appleton Dock,TAS,Import,Empty,IMEX,Appleton Dock,Appleton Dock,Container Parks,Empty,Complete,BR,0.521368
160,Appleton Dock,TAS,Import,Empty,IMEX,Appleton Dock,Appleton Dock,Transport Depots,Empty,Empty,BR,0.478632
161,Appleton Dock,TAS,Import,Empty,IMEX,Appleton Dock,Transport Depots,Container Parks,Empty,Complete,BR,0.478632

Shape: (3, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode           From                To From State  To State Run Type
0        3003  Appleton Dock   Container Parks      Empty  Complete       BR
1        3011  Appleton Dock   Container Parks      Empty  Complete       BR
2        3012  Appleton Dock   Container Parks      Empty  Complete       BR
3        3013  Appleton Dock   Container Parks      Empty  Complete       BR
4        3018  Appleton Dock   Container Parks      Empty  Complete       BR
5        3025  Appleton Dock   Container Parks      Empty  Complete       BR
6        3207  Appleton Dock   Container Parks      Empty  Complete       BR
7        3175  Appleton Dock  Transport Depots      Empty     Empty       BR
8        3003  Appleton Dock  Transport Depots      Empty     Empty       BR
9        3043  Appleton Dock  Transport Depots      Empty     Empty       BR

Shape: (21, 6)
Showing first 10 rows of 21 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Appleton Dock,Empty,3003,Container Parks,Complete,BR
1,3003,Appleton Dock,Empty,3011,Container Parks,Complete,BR
2,3003,Appleton Dock,Empty,3012,Container Parks,Complete,BR
3,3003,Appleton Dock,Empty,3013,Container Parks,Complete,BR
4,3003,Appleton Dock,Empty,3018,Container Parks,Complete,BR
5,3003,Appleton Dock,Empty,3025,Container Parks,Complete,BR
6,3003,Appleton Dock,Empty,3207,Container Parks,Complete,BR
7,3003,Appleton Dock,Empty,3175,Transport Depots,Empty,BR
8,3003,Appleton Dock,Empty,3003,Transport Depots,Empty,BR
9,3003,Appleton Dock,Empty,3043,Transport Depots,Empty,BR

Shape: (63, 7)
Showing first 10 rows of 63 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Appleton Dock,Empty,3003,Container Parks,Complete,BR,1.856365
1,3003,Appleton Dock,Empty,3011,Container Parks,Complete,BR,11.612198
2,3003,Appleton Dock,Empty,3012,Container Parks,Complete,BR,14.160464
3,3003,Appleton Dock,Empty,3013,Container Parks,Complete,BR,14.163729
4,3003,Appleton Dock,Empty,3018,Container Parks,Complete,BR,18.705176
5,3003,Appleton Dock,Empty,3025,Container Parks,Complete,BR,19.335507
6,3003,Appleton Dock,Empty,3207,Container Parks,Complete,BR,9.214341
7,3003,Appleton Dock,Empty,3175,Transport Depots,Empty,BR,30.670727
8,3003,Appleton Dock,Empty,3003,Transport Depots,Empty,BR,1.856365
9,3003,Appleton Dock,Empty,3043,Transport Depots,Empty,BR,21.700887

Shape: (63, 8)
Showing first 10 rows of 63 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Appleton Dock,Empty,3003,Container Parks,Complete,BR,1.856365
1,3003,Appleton Dock,Empty,3011,Container Parks,Complete,BR,11.612198
2,3003,Appleton Dock,Empty,3012,Container Parks,Complete,BR,14.160464
3,3003,Appleton Dock,Empty,3013,Container Parks,Complete,BR,14.163729
4,3003,Appleton Dock,Empty,3018,Container Parks,Complete,BR,18.705176
5,3003,Appleton Dock,Empty,3025,Container Parks,Complete,BR,19.335507
6,3003,Appleton Dock,Empty,3207,Container Parks,Complete,BR,9.214341
7,3003,Appleton Dock,Empty,3175,Transport Depots,Empty,BR,30.670727
8,3003,Appleton Dock,Empty,3003,Transport Depots,Empty,BR,1.856365
9,3003,Appleton Dock,Empty,3043,Transport Depots,Empty,BR,21.700887

Shape: (63, 8)
Showing first 10 rows of 63 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Appleton Dock,TAS,Import,Empty,IMEX,BR,3003,Appleton Dock,Empty,3003,Container Parks,Complete,1.856365
1,Appleton Dock,TAS,Import,Empty,IMEX,BR,3003,Appleton Dock,Empty,3011,Container Parks,Complete,11.612198
2,Appleton Dock,TAS,Import,Empty,IMEX,BR,3003,Appleton Dock,Empty,3012,Container Parks,Complete,14.160464
3,Appleton Dock,TAS,Import,Empty,IMEX,BR,3003,Appleton Dock,Empty,3013,Container Parks,Complete,14.163729
4,Appleton Dock,TAS,Import,Empty,IMEX,BR,3003,Appleton Dock,Empty,3018,Container Parks,Complete,18.705176
5,Appleton Dock,TAS,Import,Empty,IMEX,BR,3003,Appleton Dock,Empty,3025,Container Parks,Complete,19.335507
6,Appleton Dock,TAS,Import,Empty,IMEX,BR,3003,Appleton Dock,Empty,3207,Container Parks,Complete,9.214341
7,Appleton Dock,TAS,Import,Empty,IMEX,BR,3003,Appleton Dock,Empty,3175,Transport Depots,Empty,30.670727
8,Appleton Dock,TAS,Import,Empty,IMEX,BR,3003,Appleton Dock,Empty,3003,Transport Depots,Empty,1.856365
9,Appleton Dock,TAS,Import,Empty,IMEX,BR,3003,Appleton Dock,Empty,3043,Transport Depots,Empty,21.700887

Shape: (63, 13)
Showing first 10 rows of 63 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (16744, 13)
Showing first 10 rows of 16744 total rows

Current gateway:['Appleton Dock' 'TAS' 'Export' 'Full' 'IMEX' 930.746991124258]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (59, 8)
Showing first 10 rows of 59 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
162,Appleton Dock,TAS,Export,Full,IMEX,Container Parks,Container Parks,Exporters,Empty,Full,CR,0.672938
163,Appleton Dock,TAS,Export,Full,IMEX,Container Parks,Container Parks,Transport Depots,Empty,Empty,BR,0.327062
164,Appleton Dock,TAS,Export,Full,IMEX,Container Parks,Transport Depots,Exporters,Empty,Full,CR,0.327062
165,Appleton Dock,TAS,Export,Full,IMEX,Container Parks,Exporters,Appleton Dock,Full,Complete,CR,0.515510
166,Appleton Dock,TAS,Export,Full,IMEX,Container Parks,Exporters,Transport Depots,Full,Full,CR,0.484490
167,Appleton Dock,TAS,Export,Full,IMEX,Container Parks,Transport Depots,Appleton Dock,Full,Complete,BR,0.484490

Shape: (6, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode             From         To From State To State Run Type
0        3003  Container Parks  Exporters      Empty     Full       CR
1        3012  Container Parks  Exporters      Empty     Full       CR
2        3013  Container Parks  Exporters      Empty     Full       CR
3        3015  Container Parks  Exporters      Empty     Full       CR
4        3018  Container Parks  Exporters      Empty     Full       CR
5        3019  Container Parks  Exporters      Empty     Full       CR
6        3020  Container Parks  Exporters      Empty     Full       CR
7        3023  Container Parks  Exporters      Empty     Full       CR
8        3025  Container Parks  Exporters      Empty     Full       CR
9        3026  Container Parks  Exporters      Empty     Full       CR

Shape: (82, 6)
Showing first 10 rows of 82 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Container Parks,Empty,3003,Exporters,Full,CR
1,3011,Container Parks,Empty,3003,Exporters,Full,CR
2,3012,Container Parks,Empty,3003,Exporters,Full,CR
3,3013,Container Parks,Empty,3003,Exporters,Full,CR
4,3018,Container Parks,Empty,3003,Exporters,Full,CR
5,3025,Container Parks,Empty,3003,Exporters,Full,CR
6,3207,Container Parks,Empty,3003,Exporters,Full,CR
7,3003,Container Parks,Empty,3012,Exporters,Full,CR
8,3011,Container Parks,Empty,3012,Exporters,Full,CR
9,3012,Container Parks,Empty,3012,Exporters,Full,CR

Shape: (782, 7)
Showing first 10 rows of 782 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Exporters,Full,CR,1.856365
1,3011,Container Parks,Empty,3003,Exporters,Full,CR,14.097189
2,3012,Container Parks,Empty,3003,Exporters,Full,CR,16.510005
3,3013,Container Parks,Empty,3003,Exporters,Full,CR,14.619971
4,3018,Container Parks,Empty,3003,Exporters,Full,CR,22.135165
5,3025,Container Parks,Empty,3003,Exporters,Full,CR,21.248426
6,3207,Container Parks,Empty,3003,Exporters,Full,CR,9.829671
7,3003,Container Parks,Empty,3012,Exporters,Full,CR,14.160464
8,3011,Container Parks,Empty,3012,Exporters,Full,CR,7.311468
9,3012,Container Parks,Empty,3012,Exporters,Full,CR,11.929083

Shape: (782, 8)
Showing first 10 rows of 782 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Exporters,Full,CR,1.856365
1,3011,Container Parks,Empty,3003,Exporters,Full,CR,14.097189
2,3012,Container Parks,Empty,3003,Exporters,Full,CR,16.510005
3,3013,Container Parks,Empty,3003,Exporters,Full,CR,14.619971
4,3018,Container Parks,Empty,3003,Exporters,Full,CR,22.135165
5,3025,Container Parks,Empty,3003,Exporters,Full,CR,21.248426
6,3207,Container Parks,Empty,3003,Exporters,Full,CR,9.829671
7,3003,Container Parks,Empty,3012,Exporters,Full,CR,14.160464
8,3011,Container Parks,Empty,3012,Exporters,Full,CR,7.311468
9,3012,Container Parks,Empty,3012,Exporters,Full,CR,11.929083

Shape: (782, 8)
Showing first 10 rows of 782 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Appleton Dock,TAS,Export,Full,IMEX,CR,3003,Container Parks,Empty,3003,Exporters,Full,1.856365
1,Appleton Dock,TAS,Export,Full,IMEX,CR,3011,Container Parks,Empty,3003,Exporters,Full,14.097189
2,Appleton Dock,TAS,Export,Full,IMEX,CR,3012,Container Parks,Empty,3003,Exporters,Full,16.510005
3,Appleton Dock,TAS,Export,Full,IMEX,CR,3013,Container Parks,Empty,3003,Exporters,Full,14.619971
4,Appleton Dock,TAS,Export,Full,IMEX,CR,3018,Container Parks,Empty,3003,Exporters,Full,22.135165
5,Appleton Dock,TAS,Export,Full,IMEX,CR,3025,Container Parks,Empty,3003,Exporters,Full,21.248426
6,Appleton Dock,TAS,Export,Full,IMEX,CR,3207,Container Parks,Empty,3003,Exporters,Full,9.829671
7,Appleton Dock,TAS,Export,Full,IMEX,CR,3003,Container Parks,Empty,3012,Exporters,Full,14.160464
8,Appleton Dock,TAS,Export,Full,IMEX,CR,3011,Container Parks,Empty,3012,Exporters,Full,7.311468
9,Appleton Dock,TAS,Export,Full,IMEX,CR,3012,Container Parks,Empty,3012,Exporters,Full,11.929083

Shape: (782, 13)
Showing first 10 rows of 782 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (17526, 13)
Showing first 10 rows of 17526 total rows

Current gateway:['Appleton Dock' 'TAS' 'Export' 'Empty' 'IMEX' 81.7367899408283]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (26, 8)
Showing first 10 rows of 26 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
168,Appleton Dock,TAS,Export,Empty,IMEX,Container Parks,Container Parks,Appleton Dock,Empty,Complete,BR,0.486188
169,Appleton Dock,TAS,Export,Empty,IMEX,Container Parks,Container Parks,Container Parks,Empty,Complete,IG,0.513812

Shape: (2, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode             From               To From State  To State Run Type
0        3003  Container Parks    Appleton Dock      Empty  Complete       BR
1        3003  Container Parks  Container Parks      Empty  Complete       IG
2        3011  Container Parks  Container Parks      Empty  Complete       IG
3        3012  Container Parks  Container Parks      Empty  Complete       IG
4        3013  Container Parks  Container Parks      Empty  Complete       IG
5        3018  Container Parks  Container Parks      Empty  Complete       IG
6        3025  Container Parks  Container Parks      Empty  Complete       IG
7        3207  Container Parks  Container Parks      Empty  Complete       IG

Shape: (8, 6)

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Container Parks,Empty,3003,Appleton Dock,Complete,BR
1,3011,Container Parks,Empty,3003,Appleton Dock,Complete,BR
2,3012,Container Parks,Empty,3003,Appleton Dock,Complete,BR
3,3013,Container Parks,Empty,3003,Appleton Dock,Complete,BR
4,3018,Container Parks,Empty,3003,Appleton Dock,Complete,BR
5,3025,Container Parks,Empty,3003,Appleton Dock,Complete,BR
6,3207,Container Parks,Empty,3003,Appleton Dock,Complete,BR
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG

Shape: (56, 7)
Showing first 10 rows of 56 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Appleton Dock,Complete,BR,1.856365
1,3011,Container Parks,Empty,3003,Appleton Dock,Complete,BR,14.097189
2,3012,Container Parks,Empty,3003,Appleton Dock,Complete,BR,16.510005
3,3013,Container Parks,Empty,3003,Appleton Dock,Complete,BR,14.619971
4,3018,Container Parks,Empty,3003,Appleton Dock,Complete,BR,22.135165
5,3025,Container Parks,Empty,3003,Appleton Dock,Complete,BR,21.248426
6,3207,Container Parks,Empty,3003,Appleton Dock,Complete,BR,9.829671
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG,1.856365
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG,14.097189
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG,16.510005

Shape: (56, 8)
Showing first 10 rows of 56 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Container Parks,Empty,3003,Appleton Dock,Complete,BR,1.856365
1,3011,Container Parks,Empty,3003,Appleton Dock,Complete,BR,14.097189
2,3012,Container Parks,Empty,3003,Appleton Dock,Complete,BR,16.510005
3,3013,Container Parks,Empty,3003,Appleton Dock,Complete,BR,14.619971
4,3018,Container Parks,Empty,3003,Appleton Dock,Complete,BR,22.135165
5,3025,Container Parks,Empty,3003,Appleton Dock,Complete,BR,21.248426
6,3207,Container Parks,Empty,3003,Appleton Dock,Complete,BR,9.829671
7,3003,Container Parks,Empty,3003,Container Parks,Complete,IG,1.856365
8,3011,Container Parks,Empty,3003,Container Parks,Complete,IG,14.097189
9,3012,Container Parks,Empty,3003,Container Parks,Complete,IG,16.510005

Shape: (56, 8)
Showing first 10 rows of 56 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Appleton Dock,TAS,Export,Empty,IMEX,BR,3003,Container Parks,Empty,3003,Appleton Dock,Complete,1.856365
1,Appleton Dock,TAS,Export,Empty,IMEX,BR,3011,Container Parks,Empty,3003,Appleton Dock,Complete,14.097189
2,Appleton Dock,TAS,Export,Empty,IMEX,BR,3012,Container Parks,Empty,3003,Appleton Dock,Complete,16.510005
3,Appleton Dock,TAS,Export,Empty,IMEX,BR,3013,Container Parks,Empty,3003,Appleton Dock,Complete,14.619971
4,Appleton Dock,TAS,Export,Empty,IMEX,BR,3018,Container Parks,Empty,3003,Appleton Dock,Complete,22.135165
5,Appleton Dock,TAS,Export,Empty,IMEX,BR,3025,Container Parks,Empty,3003,Appleton Dock,Complete,21.248426
6,Appleton Dock,TAS,Export,Empty,IMEX,BR,3207,Container Parks,Empty,3003,Appleton Dock,Complete,9.829671
7,Appleton Dock,TAS,Export,Empty,IMEX,IG,3003,Container Parks,Empty,3003,Container Parks,Complete,1.856365
8,Appleton Dock,TAS,Export,Empty,IMEX,IG,3011,Container Parks,Empty,3003,Container Parks,Complete,14.097189
9,Appleton Dock,TAS,Export,Empty,IMEX,IG,3012,Container Parks,Empty,3003,Container Parks,Complete,16.510005

Shape: (56, 13)
Showing first 10 rows of 56 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (17582, 13)
Showing first 10 rows of 17582 total rows

Current gateway:['Swanson Dock West' 'I&MC' 'Tranship' 'Full' 'IMEX' 297.381205602976]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (12, 8)
Showing first 10 rows of 12 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
170,Swanson Dock West,I&MC,Tranship,Full,IMEX,Swanson Dock West,Swanson Dock West,Webb Dock South,Full,Complete,LH,0.5
171,Swanson Dock West,I&MC,Tranship,Full,IMEX,Swanson Dock West,Swanson Dock West,Swanson Dock West,Full,Complete,IG,0.5

Shape: (2, 12)

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3207,Swanson Dock West,Webb Dock South,Full,Complete,LH
1,3003,Swanson Dock West,Swanson Dock West,Full,Complete,IG

Shape: (2, 6)

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Swanson Dock West,Full,3207,Webb Dock South,Complete,LH
1,3003,Swanson Dock West,Full,3003,Swanson Dock West,Complete,IG

Shape: (2, 7)

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock West,Full,3207,Webb Dock South,Complete,LH,9.214341
1,3003,Swanson Dock West,Full,3003,Swanson Dock West,Complete,IG,1.856365

Shape: (2, 8)

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock West,Full,3207,Webb Dock South,Complete,LH,9.214341
1,3003,Swanson Dock West,Full,3003,Swanson Dock West,Complete,IG,1.856365

Shape: (2, 8)

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Tranship,Full,IMEX,LH,3003,Swanson Dock West,Full,3207,Webb Dock South,Complete,9.214341
1,Swanson Dock West,I&MC,Tranship,Full,IMEX,IG,3003,Swanson Dock West,Full,3003,Swanson Dock West,Complete,1.856365

Shape: (2, 13)

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (17584, 13)
Showing first 10 rows of 17584 total rows

Current gateway:['Swanson Dock East' 'I&MC' 'Tranship' 'Full' 'IMEX' 297.381205602976]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (12, 8)
Showing first 10 rows of 12 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
172,Swanson Dock East,I&MC,Tranship,Full,IMEX,Swanson Dock East,Swanson Dock East,Webb Dock South,Full,Complete,LH,0.5
173,Swanson Dock East,I&MC,Tranship,Full,IMEX,Swanson Dock East,Swanson Dock East,Swanson Dock East,Full,Complete,IG,0.5

Shape: (2, 12)

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3207,Swanson Dock East,Webb Dock South,Full,Complete,LH
1,3003,Swanson Dock East,Swanson Dock East,Full,Complete,IG

Shape: (2, 6)

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3003,Swanson Dock East,Full,3207,Webb Dock South,Complete,LH
1,3003,Swanson Dock East,Full,3003,Swanson Dock East,Complete,IG

Shape: (2, 7)

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock East,Full,3207,Webb Dock South,Complete,LH,9.214341
1,3003,Swanson Dock East,Full,3003,Swanson Dock East,Complete,IG,1.856365

Shape: (2, 8)

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3003,Swanson Dock East,Full,3207,Webb Dock South,Complete,LH,9.214341
1,3003,Swanson Dock East,Full,3003,Swanson Dock East,Complete,IG,1.856365

Shape: (2, 8)

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock East,I&MC,Tranship,Full,IMEX,LH,3003,Swanson Dock East,Full,3207,Webb Dock South,Complete,9.214341
1,Swanson Dock East,I&MC,Tranship,Full,IMEX,IG,3003,Swanson Dock East,Full,3003,Swanson Dock East,Complete,1.856365

Shape: (2, 13)

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (17586, 13)
Showing first 10 rows of 17586 total rows

Current gateway:['Webb Dock South' 'I&MC' 'Tranship' 'Full' 'IMEX' 411.538120160532]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (12, 8)
Showing first 10 rows of 12 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
174,Webb Dock South,I&MC,Tranship,Full,IMEX,Webb Dock South,Webb Dock South,Swanson Dock West,Full,Complete,LH,0.5
175,Webb Dock South,I&MC,Tranship,Full,IMEX,Webb Dock South,Webb Dock South,Webb Dock South,Full,Complete,IG,0.5

Shape: (2, 12)

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3003,Webb Dock South,Swanson Dock West,Full,Complete,LH
1,3207,Webb Dock South,Webb Dock South,Full,Complete,IG

Shape: (2, 6)

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3207,Webb Dock South,Full,3003,Swanson Dock West,Complete,LH
1,3207,Webb Dock South,Full,3207,Webb Dock South,Complete,IG

Shape: (2, 7)

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock South,Full,3003,Swanson Dock West,Complete,LH,9.829671
1,3207,Webb Dock South,Full,3207,Webb Dock South,Complete,IG,5.168711

Shape: (2, 8)

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock South,Full,3003,Swanson Dock West,Complete,LH,9.829671
1,3207,Webb Dock South,Full,3207,Webb Dock South,Complete,IG,5.168711

Shape: (2, 8)

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Webb Dock South,I&MC,Tranship,Full,IMEX,LH,3207,Webb Dock South,Full,3003,Swanson Dock West,Complete,9.829671
1,Webb Dock South,I&MC,Tranship,Full,IMEX,IG,3207,Webb Dock South,Full,3207,Webb Dock South,Complete,5.168711

Shape: (2, 13)

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (17588, 13)
Showing first 10 rows of 17588 total rows

Current gateway:['Webb Dock North' 'I&MC' 'Tranship' 'Full' 'IMEX' 411.538120160532]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (12, 8)
Showing first 10 rows of 12 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
176,Webb Dock North,I&MC,Tranship,Full,IMEX,Webb Dock North,Webb Dock North,Swanson Dock West,Full,Complete,LH,0.5
177,Webb Dock North,I&MC,Tranship,Full,IMEX,Webb Dock North,Webb Dock North,Webb Dock North,Full,Complete,IG,0.5

Shape: (2, 12)

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3003,Webb Dock North,Swanson Dock West,Full,Complete,LH
1,3207,Webb Dock North,Webb Dock North,Full,Complete,IG

Shape: (2, 6)

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3207,Webb Dock North,Full,3003,Swanson Dock West,Complete,LH
1,3207,Webb Dock North,Full,3207,Webb Dock North,Complete,IG

Shape: (2, 7)

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock North,Full,3003,Swanson Dock West,Complete,LH,9.829671
1,3207,Webb Dock North,Full,3207,Webb Dock North,Complete,IG,5.168711

Shape: (2, 8)

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3207,Webb Dock North,Full,3003,Swanson Dock West,Complete,LH,9.829671
1,3207,Webb Dock North,Full,3207,Webb Dock North,Complete,IG,5.168711

Shape: (2, 8)

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Webb Dock North,I&MC,Tranship,Full,IMEX,LH,3207,Webb Dock North,Full,3003,Swanson Dock West,Complete,9.829671
1,Webb Dock North,I&MC,Tranship,Full,IMEX,IG,3207,Webb Dock North,Full,3207,Webb Dock North,Complete,5.168711

Shape: (2, 13)

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (17590, 13)
Showing first 10 rows of 17590 total rows

Current gateway:['WIFT West Rail Terminal' 'ICDR' 'Inbound' 'Full' 'ICDR' 817.912283370587]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (61, 8)
Showing first 10 rows of 61 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
178,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT West Rail Terminal,WIFT West Rail Terminal,Importers,Full,Empty,CR,0.578165
179,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT West Rail Terminal,WIFT West Rail Terminal,Transport Depots,Full,Full,BR,0.121835
180,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT West Rail Terminal,WIFT West Rail Terminal,Importers,Full,Complete,IG,0.300000
181,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT West Rail Terminal,Transport Depots,Importers,Full,Empty,CR,0.121835
182,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT West Rail Terminal,Importers,WIFT West Rail Terminal,Empty,Complete,CR,0.022293
183,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT West Rail Terminal,Importers,Transport Depots,Empty,Empty,CR,0.677707
184,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT West Rail Terminal,Transport Depots,WIFT West Rail Terminal,Empty,Complete,BR,0.022293
185,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT West Rail Terminal,Transport Depots,Container Parks,Empty,Complete,IG,0.655414

Shape: (8, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode                     From         To From State To State Run Type
0        3011  WIFT West Rail Terminal  Importers       Full    Empty       CR
1        3012  WIFT West Rail Terminal  Importers       Full    Empty       CR
2        3018  WIFT West Rail Terminal  Importers       Full    Empty       CR
3        3020  WIFT West Rail Terminal  Importers       Full    Empty       CR
4        3023  WIFT West Rail Terminal  Importers       Full    Empty       CR
5        3025  WIFT West Rail Terminal  Importers       Full    Empty       CR
6        3026  WIFT West Rail Terminal  Importers       Full    Empty       CR
7        3029  WIFT West Rail Terminal  Importers       Full    Empty       CR
8        3030  WIFT West Rail Terminal  Importers       Full    Empty       CR
9        3042  WIFT West Rail Terminal  Importers       Full    Empty       CR

Shape: (147, 6)
Showing first 10 rows of 147 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3029,WIFT West Rail Terminal,Full,3011,Importers,Empty,CR
1,3029,WIFT West Rail Terminal,Full,3012,Importers,Empty,CR
2,3029,WIFT West Rail Terminal,Full,3018,Importers,Empty,CR
3,3029,WIFT West Rail Terminal,Full,3020,Importers,Empty,CR
4,3029,WIFT West Rail Terminal,Full,3023,Importers,Empty,CR
5,3029,WIFT West Rail Terminal,Full,3025,Importers,Empty,CR
6,3029,WIFT West Rail Terminal,Full,3026,Importers,Empty,CR
7,3029,WIFT West Rail Terminal,Full,3029,Importers,Empty,CR
8,3029,WIFT West Rail Terminal,Full,3030,Importers,Empty,CR
9,3029,WIFT West Rail Terminal,Full,3042,Importers,Empty,CR

Shape: (423, 7)
Showing first 10 rows of 423 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3029,WIFT West Rail Terminal,Full,3011,Importers,Empty,CR,28.233008
1,3029,WIFT West Rail Terminal,Full,3012,Importers,Empty,CR,20.068232
2,3029,WIFT West Rail Terminal,Full,3018,Importers,Empty,CR,23.912542
3,3029,WIFT West Rail Terminal,Full,3020,Importers,Empty,CR,24.257592
4,3029,WIFT West Rail Terminal,Full,3023,Importers,Empty,CR,21.247326
5,3029,WIFT West Rail Terminal,Full,3025,Importers,Empty,CR,22.604150
6,3029,WIFT West Rail Terminal,Full,3026,Importers,Empty,CR,19.570620
7,3029,WIFT West Rail Terminal,Full,3029,Importers,Empty,CR,15.500102
8,3029,WIFT West Rail Terminal,Full,3030,Importers,Empty,CR,19.328284
9,3029,WIFT West Rail Terminal,Full,3042,Importers,Empty,CR,30.027271

Shape: (423, 8)
Showing first 10 rows of 423 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3029,WIFT West Rail Terminal,Full,3011,Importers,Empty,CR,28.233008
1,3029,WIFT West Rail Terminal,Full,3012,Importers,Empty,CR,20.068232
2,3029,WIFT West Rail Terminal,Full,3018,Importers,Empty,CR,23.912542
3,3029,WIFT West Rail Terminal,Full,3020,Importers,Empty,CR,24.257592
4,3029,WIFT West Rail Terminal,Full,3023,Importers,Empty,CR,21.247326
5,3029,WIFT West Rail Terminal,Full,3025,Importers,Empty,CR,22.604150
6,3029,WIFT West Rail Terminal,Full,3026,Importers,Empty,CR,19.570620
7,3029,WIFT West Rail Terminal,Full,3029,Importers,Empty,CR,15.500102
8,3029,WIFT West Rail Terminal,Full,3030,Importers,Empty,CR,19.328284
9,3029,WIFT West Rail Terminal,Full,3042,Importers,Empty,CR,30.027271

Shape: (423, 8)
Showing first 10 rows of 423 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT West Rail Terminal,Full,3011,Importers,Empty,28.233008
1,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT West Rail Terminal,Full,3012,Importers,Empty,20.068232
2,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT West Rail Terminal,Full,3018,Importers,Empty,23.912542
3,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT West Rail Terminal,Full,3020,Importers,Empty,24.257592
4,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT West Rail Terminal,Full,3023,Importers,Empty,21.247326
5,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT West Rail Terminal,Full,3025,Importers,Empty,22.604150
6,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT West Rail Terminal,Full,3026,Importers,Empty,19.570620
7,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT West Rail Terminal,Full,3029,Importers,Empty,15.500102
8,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT West Rail Terminal,Full,3030,Importers,Empty,19.328284
9,WIFT West Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT West Rail Terminal,Full,3042,Importers,Empty,30.027271

Shape: (423, 13)
Showing first 10 rows of 423 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (18013, 13)
Showing first 10 rows of 18013 total rows

Current gateway:['WIFT West Rail Terminal' 'ICDR' 'Outbound' 'Full' 'ICDR'
 1385.98541798597]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (50, 8)
Showing first 10 rows of 50 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
186,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,Exporters,Empty,Full,CR,0.717838
187,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,WIFT West Rail Terminal,Empty,Empty,IG,0.082162
188,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,WIFT West Rail Terminal,Empty,Complete,IG,0.200000
189,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,WIFT West Rail Terminal,Exporters,Empty,Full,CR,0.082162
190,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Exporters,WIFT West Rail Terminal,Full,Complete,CR,0.664516
191,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Exporters,Transport Depots,Full,Full,CR,0.135484
192,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,WIFT West Rail Terminal,Full,Complete,BR,0.135484

Shape: (7, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode              From         To From State To State Run Type
0        3003  Transport Depots  Exporters      Empty     Full       CR
1        3012  Transport Depots  Exporters      Empty     Full       CR
2        3013  Transport Depots  Exporters      Empty     Full       CR
3        3018  Transport Depots  Exporters      Empty     Full       CR
4        3020  Transport Depots  Exporters      Empty     Full       CR
5        3023  Transport Depots  Exporters      Empty     Full       CR
6        3025  Transport Depots  Exporters      Empty     Full       CR
7        3026  Transport Depots  Exporters      Empty     Full       CR
8        3028  Transport Depots  Exporters      Empty     Full       CR
9        3029  Transport Depots  Exporters      Empty     Full       CR

Shape: (76, 6)
Showing first 10 rows of 76 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3011,Transport Depots,Empty,3003,Exporters,Full,CR
1,3207,Transport Depots,Empty,3003,Exporters,Full,CR
2,3025,Transport Depots,Empty,3003,Exporters,Full,CR
3,3029,Transport Depots,Empty,3003,Exporters,Full,CR
4,3011,Transport Depots,Empty,3012,Exporters,Full,CR
5,3207,Transport Depots,Empty,3012,Exporters,Full,CR
6,3025,Transport Depots,Empty,3012,Exporters,Full,CR
7,3029,Transport Depots,Empty,3012,Exporters,Full,CR
8,3011,Transport Depots,Empty,3013,Exporters,Full,CR
9,3207,Transport Depots,Empty,3013,Exporters,Full,CR

Shape: (352, 7)
Showing first 10 rows of 352 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3011,Transport Depots,Empty,3003,Exporters,Full,CR,14.097189
1,3207,Transport Depots,Empty,3003,Exporters,Full,CR,9.829671
2,3025,Transport Depots,Empty,3003,Exporters,Full,CR,21.248426
3,3029,Transport Depots,Empty,3003,Exporters,Full,CR,30.164240
4,3011,Transport Depots,Empty,3012,Exporters,Full,CR,7.311468
5,3207,Transport Depots,Empty,3012,Exporters,Full,CR,19.385217
6,3025,Transport Depots,Empty,3012,Exporters,Full,CR,17.549398
7,3029,Transport Depots,Empty,3012,Exporters,Full,CR,20.068232
8,3011,Transport Depots,Empty,3013,Exporters,Full,CR,5.832754
9,3207,Transport Depots,Empty,3013,Exporters,Full,CR,13.308058

Shape: (352, 8)
Showing first 10 rows of 352 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3011,Transport Depots,Empty,3003,Exporters,Full,CR,14.097189
1,3207,Transport Depots,Empty,3003,Exporters,Full,CR,9.829671
2,3025,Transport Depots,Empty,3003,Exporters,Full,CR,21.248426
3,3029,Transport Depots,Empty,3003,Exporters,Full,CR,30.164240
4,3011,Transport Depots,Empty,3012,Exporters,Full,CR,7.311468
5,3207,Transport Depots,Empty,3012,Exporters,Full,CR,19.385217
6,3025,Transport Depots,Empty,3012,Exporters,Full,CR,17.549398
7,3029,Transport Depots,Empty,3012,Exporters,Full,CR,20.068232
8,3011,Transport Depots,Empty,3013,Exporters,Full,CR,5.832754
9,3207,Transport Depots,Empty,3013,Exporters,Full,CR,13.308058

Shape: (352, 8)
Showing first 10 rows of 352 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3011,Transport Depots,Empty,3003,Exporters,Full,14.097189
1,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3207,Transport Depots,Empty,3003,Exporters,Full,9.829671
2,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3025,Transport Depots,Empty,3003,Exporters,Full,21.248426
3,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3029,Transport Depots,Empty,3003,Exporters,Full,30.164240
4,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3011,Transport Depots,Empty,3012,Exporters,Full,7.311468
5,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3207,Transport Depots,Empty,3012,Exporters,Full,19.385217
6,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3025,Transport Depots,Empty,3012,Exporters,Full,17.549398
7,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3029,Transport Depots,Empty,3012,Exporters,Full,20.068232
8,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3011,Transport Depots,Empty,3013,Exporters,Full,5.832754
9,WIFT West Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3207,Transport Depots,Empty,3013,Exporters,Full,13.308058

Shape: (352, 13)
Showing first 10 rows of 352 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (18365, 13)
Showing first 10 rows of 18365 total rows

Current gateway:['WIFT East Rail Terminal' 'ICDR' 'Inbound' 'Full' 'ICDR' 373.304367209293]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (61, 8)
Showing first 10 rows of 61 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
193,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT East Rail Terminal,WIFT East Rail Terminal,Importers,Full,Empty,CR,0.578165
194,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT East Rail Terminal,WIFT East Rail Terminal,Transport Depots,Full,Full,BR,0.121835
195,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT East Rail Terminal,WIFT East Rail Terminal,Importers,Full,Complete,IG,0.300000
196,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT East Rail Terminal,Transport Depots,Importers,Full,Empty,CR,0.121835
197,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT East Rail Terminal,Importers,WIFT East Rail Terminal,Empty,Complete,CR,0.022293
198,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT East Rail Terminal,Importers,Transport Depots,Empty,Empty,CR,0.677707
199,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT East Rail Terminal,Transport Depots,WIFT East Rail Terminal,Empty,Complete,BR,0.022293
200,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,WIFT East Rail Terminal,Transport Depots,Container Parks,Empty,Complete,IG,0.655414

Shape: (8, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode                     From         To From State To State Run Type
0        3011  WIFT East Rail Terminal  Importers       Full    Empty       CR
1        3012  WIFT East Rail Terminal  Importers       Full    Empty       CR
2        3018  WIFT East Rail Terminal  Importers       Full    Empty       CR
3        3020  WIFT East Rail Terminal  Importers       Full    Empty       CR
4        3023  WIFT East Rail Terminal  Importers       Full    Empty       CR
5        3025  WIFT East Rail Terminal  Importers       Full    Empty       CR
6        3026  WIFT East Rail Terminal  Importers       Full    Empty       CR
7        3029  WIFT East Rail Terminal  Importers       Full    Empty       CR
8        3030  WIFT East Rail Terminal  Importers       Full    Empty       CR
9        3042  WIFT East Rail Terminal  Importers       Full    Empty       CR

Shape: (147, 6)
Showing first 10 rows of 147 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3029,WIFT East Rail Terminal,Full,3011,Importers,Empty,CR
1,3029,WIFT East Rail Terminal,Full,3012,Importers,Empty,CR
2,3029,WIFT East Rail Terminal,Full,3018,Importers,Empty,CR
3,3029,WIFT East Rail Terminal,Full,3020,Importers,Empty,CR
4,3029,WIFT East Rail Terminal,Full,3023,Importers,Empty,CR
5,3029,WIFT East Rail Terminal,Full,3025,Importers,Empty,CR
6,3029,WIFT East Rail Terminal,Full,3026,Importers,Empty,CR
7,3029,WIFT East Rail Terminal,Full,3029,Importers,Empty,CR
8,3029,WIFT East Rail Terminal,Full,3030,Importers,Empty,CR
9,3029,WIFT East Rail Terminal,Full,3042,Importers,Empty,CR

Shape: (423, 7)
Showing first 10 rows of 423 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3029,WIFT East Rail Terminal,Full,3011,Importers,Empty,CR,28.233008
1,3029,WIFT East Rail Terminal,Full,3012,Importers,Empty,CR,20.068232
2,3029,WIFT East Rail Terminal,Full,3018,Importers,Empty,CR,23.912542
3,3029,WIFT East Rail Terminal,Full,3020,Importers,Empty,CR,24.257592
4,3029,WIFT East Rail Terminal,Full,3023,Importers,Empty,CR,21.247326
5,3029,WIFT East Rail Terminal,Full,3025,Importers,Empty,CR,22.604150
6,3029,WIFT East Rail Terminal,Full,3026,Importers,Empty,CR,19.570620
7,3029,WIFT East Rail Terminal,Full,3029,Importers,Empty,CR,15.500102
8,3029,WIFT East Rail Terminal,Full,3030,Importers,Empty,CR,19.328284
9,3029,WIFT East Rail Terminal,Full,3042,Importers,Empty,CR,30.027271

Shape: (423, 8)
Showing first 10 rows of 423 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3029,WIFT East Rail Terminal,Full,3011,Importers,Empty,CR,28.233008
1,3029,WIFT East Rail Terminal,Full,3012,Importers,Empty,CR,20.068232
2,3029,WIFT East Rail Terminal,Full,3018,Importers,Empty,CR,23.912542
3,3029,WIFT East Rail Terminal,Full,3020,Importers,Empty,CR,24.257592
4,3029,WIFT East Rail Terminal,Full,3023,Importers,Empty,CR,21.247326
5,3029,WIFT East Rail Terminal,Full,3025,Importers,Empty,CR,22.604150
6,3029,WIFT East Rail Terminal,Full,3026,Importers,Empty,CR,19.570620
7,3029,WIFT East Rail Terminal,Full,3029,Importers,Empty,CR,15.500102
8,3029,WIFT East Rail Terminal,Full,3030,Importers,Empty,CR,19.328284
9,3029,WIFT East Rail Terminal,Full,3042,Importers,Empty,CR,30.027271

Shape: (423, 8)
Showing first 10 rows of 423 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT East Rail Terminal,Full,3011,Importers,Empty,28.233008
1,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT East Rail Terminal,Full,3012,Importers,Empty,20.068232
2,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT East Rail Terminal,Full,3018,Importers,Empty,23.912542
3,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT East Rail Terminal,Full,3020,Importers,Empty,24.257592
4,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT East Rail Terminal,Full,3023,Importers,Empty,21.247326
5,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT East Rail Terminal,Full,3025,Importers,Empty,22.604150
6,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT East Rail Terminal,Full,3026,Importers,Empty,19.570620
7,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT East Rail Terminal,Full,3029,Importers,Empty,15.500102
8,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT East Rail Terminal,Full,3030,Importers,Empty,19.328284
9,WIFT East Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3029,WIFT East Rail Terminal,Full,3042,Importers,Empty,30.027271

Shape: (423, 13)
Showing first 10 rows of 423 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (18788, 13)
Showing first 10 rows of 18788 total rows

Current gateway:['WIFT East Rail Terminal' 'ICDR' 'Outbound' 'Full' 'ICDR'
 584.490373619549]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (50, 8)
Showing first 10 rows of 50 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
201,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,Exporters,Empty,Full,CR,0.717838
202,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,WIFT East Rail Terminal,Empty,Empty,IG,0.082162
203,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,WIFT East Rail Terminal,Empty,Complete,IG,0.200000
204,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,WIFT East Rail Terminal,Exporters,Empty,Full,CR,0.082162
205,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Exporters,WIFT East Rail Terminal,Full,Complete,CR,0.664516
206,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Exporters,Transport Depots,Full,Full,CR,0.135484
207,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,WIFT East Rail Terminal,Full,Complete,BR,0.135484

Shape: (7, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode              From         To From State To State Run Type
0        3003  Transport Depots  Exporters      Empty     Full       CR
1        3012  Transport Depots  Exporters      Empty     Full       CR
2        3013  Transport Depots  Exporters      Empty     Full       CR
3        3018  Transport Depots  Exporters      Empty     Full       CR
4        3020  Transport Depots  Exporters      Empty     Full       CR
5        3023  Transport Depots  Exporters      Empty     Full       CR
6        3025  Transport Depots  Exporters      Empty     Full       CR
7        3026  Transport Depots  Exporters      Empty     Full       CR
8        3028  Transport Depots  Exporters      Empty     Full       CR
9        3029  Transport Depots  Exporters      Empty     Full       CR

Shape: (76, 6)
Showing first 10 rows of 76 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3011,Transport Depots,Empty,3003,Exporters,Full,CR
1,3207,Transport Depots,Empty,3003,Exporters,Full,CR
2,3025,Transport Depots,Empty,3003,Exporters,Full,CR
3,3029,Transport Depots,Empty,3003,Exporters,Full,CR
4,3011,Transport Depots,Empty,3012,Exporters,Full,CR
5,3207,Transport Depots,Empty,3012,Exporters,Full,CR
6,3025,Transport Depots,Empty,3012,Exporters,Full,CR
7,3029,Transport Depots,Empty,3012,Exporters,Full,CR
8,3011,Transport Depots,Empty,3013,Exporters,Full,CR
9,3207,Transport Depots,Empty,3013,Exporters,Full,CR

Shape: (352, 7)
Showing first 10 rows of 352 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3011,Transport Depots,Empty,3003,Exporters,Full,CR,14.097189
1,3207,Transport Depots,Empty,3003,Exporters,Full,CR,9.829671
2,3025,Transport Depots,Empty,3003,Exporters,Full,CR,21.248426
3,3029,Transport Depots,Empty,3003,Exporters,Full,CR,30.164240
4,3011,Transport Depots,Empty,3012,Exporters,Full,CR,7.311468
5,3207,Transport Depots,Empty,3012,Exporters,Full,CR,19.385217
6,3025,Transport Depots,Empty,3012,Exporters,Full,CR,17.549398
7,3029,Transport Depots,Empty,3012,Exporters,Full,CR,20.068232
8,3011,Transport Depots,Empty,3013,Exporters,Full,CR,5.832754
9,3207,Transport Depots,Empty,3013,Exporters,Full,CR,13.308058

Shape: (352, 8)
Showing first 10 rows of 352 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3011,Transport Depots,Empty,3003,Exporters,Full,CR,14.097189
1,3207,Transport Depots,Empty,3003,Exporters,Full,CR,9.829671
2,3025,Transport Depots,Empty,3003,Exporters,Full,CR,21.248426
3,3029,Transport Depots,Empty,3003,Exporters,Full,CR,30.164240
4,3011,Transport Depots,Empty,3012,Exporters,Full,CR,7.311468
5,3207,Transport Depots,Empty,3012,Exporters,Full,CR,19.385217
6,3025,Transport Depots,Empty,3012,Exporters,Full,CR,17.549398
7,3029,Transport Depots,Empty,3012,Exporters,Full,CR,20.068232
8,3011,Transport Depots,Empty,3013,Exporters,Full,CR,5.832754
9,3207,Transport Depots,Empty,3013,Exporters,Full,CR,13.308058

Shape: (352, 8)
Showing first 10 rows of 352 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3011,Transport Depots,Empty,3003,Exporters,Full,14.097189
1,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3207,Transport Depots,Empty,3003,Exporters,Full,9.829671
2,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3025,Transport Depots,Empty,3003,Exporters,Full,21.248426
3,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3029,Transport Depots,Empty,3003,Exporters,Full,30.164240
4,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3011,Transport Depots,Empty,3012,Exporters,Full,7.311468
5,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3207,Transport Depots,Empty,3012,Exporters,Full,19.385217
6,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3025,Transport Depots,Empty,3012,Exporters,Full,17.549398
7,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3029,Transport Depots,Empty,3012,Exporters,Full,20.068232
8,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3011,Transport Depots,Empty,3013,Exporters,Full,5.832754
9,WIFT East Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3207,Transport Depots,Empty,3013,Exporters,Full,13.308058

Shape: (352, 13)
Showing first 10 rows of 352 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (19140, 13)
Showing first 10 rows of 19140 total rows

Current gateway:['BIFT North Rail Terminal' 'ICDR' 'Inbound' 'Full' 'ICDR'
 630.350651542333]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (61, 8)
Showing first 10 rows of 61 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
208,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT North Rail Terminal,BIFT North Rail Terminal,Importers,Full,Empty,CR,0.578165
209,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT North Rail Terminal,BIFT North Rail Terminal,Transport Depots,Full,Full,BR,0.121835
210,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT North Rail Terminal,BIFT North Rail Terminal,Importers,Full,Complete,IG,0.300000
211,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT North Rail Terminal,Transport Depots,Importers,Full,Empty,CR,0.121835
212,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT North Rail Terminal,Importers,BIFT North Rail Terminal,Empty,Complete,CR,0.022293
213,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT North Rail Terminal,Importers,Transport Depots,Empty,Empty,CR,0.677707
214,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT North Rail Terminal,Transport Depots,BIFT North Rail Terminal,Empty,Complete,BR,0.022293
215,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT North Rail Terminal,Transport Depots,Container Parks,Empty,Complete,IG,0.655414

Shape: (8, 12)

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3011,BIFT North Rail Terminal,Importers,Full,Empty,CR
1,3012,BIFT North Rail Terminal,Importers,Full,Empty,CR
2,3018,BIFT North Rail Terminal,Importers,Full,Empty,CR
3,3020,BIFT North Rail Terminal,Importers,Full,Empty,CR
4,3023,BIFT North Rail Terminal,Importers,Full,Empty,CR
5,3025,BIFT North Rail Terminal,Importers,Full,Empty,CR
6,3026,BIFT North Rail Terminal,Importers,Full,Empty,CR
7,3029,BIFT North Rail Terminal,Importers,Full,Empty,CR
8,3030,BIFT North Rail Terminal,Importers,Full,Empty,CR
9,3042,BIFT North Rail Terminal,Importers,Full,Empty,CR

Shape: (147, 6)
Showing first 10 rows of 147 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3753,BIFT North Rail Terminal,Full,3011,Importers,Empty,CR
1,3753,BIFT North Rail Terminal,Full,3012,Importers,Empty,CR
2,3753,BIFT North Rail Terminal,Full,3018,Importers,Empty,CR
3,3753,BIFT North Rail Terminal,Full,3020,Importers,Empty,CR
4,3753,BIFT North Rail Terminal,Full,3023,Importers,Empty,CR
5,3753,BIFT North Rail Terminal,Full,3025,Importers,Empty,CR
6,3753,BIFT North Rail Terminal,Full,3026,Importers,Empty,CR
7,3753,BIFT North Rail Terminal,Full,3029,Importers,Empty,CR
8,3753,BIFT North Rail Terminal,Full,3030,Importers,Empty,CR
9,3753,BIFT North Rail Terminal,Full,3042,Importers,Empty,CR

Shape: (423, 7)
Showing first 10 rows of 423 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3753,BIFT North Rail Terminal,Full,3011,Importers,Empty,CR,54.669767
1,3753,BIFT North Rail Terminal,Full,3012,Importers,Empty,CR,50.143349
2,3753,BIFT North Rail Terminal,Full,3018,Importers,Empty,CR,61.707373
3,3753,BIFT North Rail Terminal,Full,3020,Importers,Empty,CR,48.191570
4,3753,BIFT North Rail Terminal,Full,3023,Importers,Empty,CR,51.734361
5,3753,BIFT North Rail Terminal,Full,3025,Importers,Empty,CR,50.436943
6,3753,BIFT North Rail Terminal,Full,3026,Importers,Empty,CR,47.740080
7,3753,BIFT North Rail Terminal,Full,3029,Importers,Empty,CR,61.998820
8,3753,BIFT North Rail Terminal,Full,3030,Importers,Empty,CR,62.432166
9,3753,BIFT North Rail Terminal,Full,3042,Importers,Empty,CR,38.588248

Shape: (423, 8)
Showing first 10 rows of 423 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3753,BIFT North Rail Terminal,Full,3011,Importers,Empty,CR,54.669767
1,3753,BIFT North Rail Terminal,Full,3012,Importers,Empty,CR,50.143349
2,3753,BIFT North Rail Terminal,Full,3018,Importers,Empty,CR,61.707373
3,3753,BIFT North Rail Terminal,Full,3020,Importers,Empty,CR,48.191570
4,3753,BIFT North Rail Terminal,Full,3023,Importers,Empty,CR,51.734361
5,3753,BIFT North Rail Terminal,Full,3025,Importers,Empty,CR,50.436943
6,3753,BIFT North Rail Terminal,Full,3026,Importers,Empty,CR,47.740080
7,3753,BIFT North Rail Terminal,Full,3029,Importers,Empty,CR,61.998820
8,3753,BIFT North Rail Terminal,Full,3030,Importers,Empty,CR,62.432166
9,3753,BIFT North Rail Terminal,Full,3042,Importers,Empty,CR,38.588248

Shape: (423, 8)
Showing first 10 rows of 423 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT North Rail Terminal,Full,3011,Importers,Empty,54.669767
1,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT North Rail Terminal,Full,3012,Importers,Empty,50.143349
2,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT North Rail Terminal,Full,3018,Importers,Empty,61.707373
3,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT North Rail Terminal,Full,3020,Importers,Empty,48.191570
4,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT North Rail Terminal,Full,3023,Importers,Empty,51.734361
5,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT North Rail Terminal,Full,3025,Importers,Empty,50.436943
6,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT North Rail Terminal,Full,3026,Importers,Empty,47.740080
7,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT North Rail Terminal,Full,3029,Importers,Empty,61.998820
8,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT North Rail Terminal,Full,3030,Importers,Empty,62.432166
9,BIFT North Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT North Rail Terminal,Full,3042,Importers,Empty,38.588248

Shape: (423, 13)
Showing first 10 rows of 423 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (19563, 13)
Showing first 10 rows of 19563 total rows

Current gateway:['BIFT North Rail Terminal' 'ICDR' 'Outbound' 'Full' 'ICDR'
 901.99832942695]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (49, 8)
Showing first 10 rows of 49 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
216,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,Exporters,Empty,Full,CR,0.717838
217,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,BIFT North Rail Terminal,Empty,Empty,IG,0.082162
218,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,BIFT North Rail Terminal,Empty,Complete,IG,0.200000
219,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,BIFT North Rail Terminal,Exporters,Empty,Full,CR,0.082162
220,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Exporters,BIFT North Rail Terminal,Full,Complete,CR,0.664516
221,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Exporters,Transport Depots,Full,Full,CR,0.135484
222,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,BIFT North Rail Terminal,Full,Complete,BR,0.135484

Shape: (7, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode              From         To From State To State Run Type
0        3003  Transport Depots  Exporters      Empty     Full       CR
1        3012  Transport Depots  Exporters      Empty     Full       CR
2        3013  Transport Depots  Exporters      Empty     Full       CR
3        3018  Transport Depots  Exporters      Empty     Full       CR
4        3020  Transport Depots  Exporters      Empty     Full       CR
5        3023  Transport Depots  Exporters      Empty     Full       CR
6        3025  Transport Depots  Exporters      Empty     Full       CR
7        3026  Transport Depots  Exporters      Empty     Full       CR
8        3028  Transport Depots  Exporters      Empty     Full       CR
9        3029  Transport Depots  Exporters      Empty     Full       CR

Shape: (75, 6)
Showing first 10 rows of 75 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3753,Transport Depots,Empty,3003,Exporters,Full,CR
1,3061,Transport Depots,Empty,3003,Exporters,Full,CR
2,3062,Transport Depots,Empty,3003,Exporters,Full,CR
3,3753,Transport Depots,Empty,3012,Exporters,Full,CR
4,3061,Transport Depots,Empty,3012,Exporters,Full,CR
5,3062,Transport Depots,Empty,3012,Exporters,Full,CR
6,3753,Transport Depots,Empty,3013,Exporters,Full,CR
7,3061,Transport Depots,Empty,3013,Exporters,Full,CR
8,3062,Transport Depots,Empty,3013,Exporters,Full,CR
9,3753,Transport Depots,Empty,3018,Exporters,Full,CR

Shape: (281, 7)
Showing first 10 rows of 281 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3753,Transport Depots,Empty,3003,Exporters,Full,CR,54.080254
1,3061,Transport Depots,Empty,3003,Exporters,Full,CR,33.322574
2,3062,Transport Depots,Empty,3003,Exporters,Full,CR,28.829007
3,3753,Transport Depots,Empty,3012,Exporters,Full,CR,50.143349
4,3061,Transport Depots,Empty,3012,Exporters,Full,CR,27.413908
5,3062,Transport Depots,Empty,3012,Exporters,Full,CR,32.552932
6,3753,Transport Depots,Empty,3013,Exporters,Full,CR,58.158122
7,3061,Transport Depots,Empty,3013,Exporters,Full,CR,33.603856
8,3062,Transport Depots,Empty,3013,Exporters,Full,CR,34.995805
9,3753,Transport Depots,Empty,3018,Exporters,Full,CR,61.707373

Shape: (281, 8)
Showing first 10 rows of 281 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3753,Transport Depots,Empty,3003,Exporters,Full,CR,54.080254
1,3061,Transport Depots,Empty,3003,Exporters,Full,CR,33.322574
2,3062,Transport Depots,Empty,3003,Exporters,Full,CR,28.829007
3,3753,Transport Depots,Empty,3012,Exporters,Full,CR,50.143349
4,3061,Transport Depots,Empty,3012,Exporters,Full,CR,27.413908
5,3062,Transport Depots,Empty,3012,Exporters,Full,CR,32.552932
6,3753,Transport Depots,Empty,3013,Exporters,Full,CR,58.158122
7,3061,Transport Depots,Empty,3013,Exporters,Full,CR,33.603856
8,3062,Transport Depots,Empty,3013,Exporters,Full,CR,34.995805
9,3753,Transport Depots,Empty,3018,Exporters,Full,CR,61.707373

Shape: (281, 8)
Showing first 10 rows of 281 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3753,Transport Depots,Empty,3003,Exporters,Full,54.080254
1,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3061,Transport Depots,Empty,3003,Exporters,Full,33.322574
2,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3062,Transport Depots,Empty,3003,Exporters,Full,28.829007
3,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3753,Transport Depots,Empty,3012,Exporters,Full,50.143349
4,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3061,Transport Depots,Empty,3012,Exporters,Full,27.413908
5,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3062,Transport Depots,Empty,3012,Exporters,Full,32.552932
6,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3753,Transport Depots,Empty,3013,Exporters,Full,58.158122
7,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3061,Transport Depots,Empty,3013,Exporters,Full,33.603856
8,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3062,Transport Depots,Empty,3013,Exporters,Full,34.995805
9,BIFT North Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3753,Transport Depots,Empty,3018,Exporters,Full,61.707373

Shape: (281, 13)
Showing first 10 rows of 281 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (19844, 13)
Showing first 10 rows of 19844 total rows

Current gateway:['BIFT South Rail Terminal' 'ICDR' 'Inbound' 'Full' 'ICDR'
 158.823151761407]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (61, 8)
Showing first 10 rows of 61 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
223,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT South Rail Terminal,BIFT South Rail Terminal,Importers,Full,Empty,CR,0.578165
224,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT South Rail Terminal,BIFT South Rail Terminal,Transport Depots,Full,Full,BR,0.121835
225,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT South Rail Terminal,BIFT South Rail Terminal,Importers,Full,Complete,IG,0.300000
226,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT South Rail Terminal,Transport Depots,Importers,Full,Empty,CR,0.121835
227,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT South Rail Terminal,Importers,BIFT South Rail Terminal,Empty,Complete,CR,0.022293
228,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT South Rail Terminal,Importers,Transport Depots,Empty,Empty,CR,0.677707
229,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT South Rail Terminal,Transport Depots,BIFT South Rail Terminal,Empty,Complete,BR,0.022293
230,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,BIFT South Rail Terminal,Transport Depots,Container Parks,Empty,Complete,IG,0.655414

Shape: (8, 12)

==================================================
Matched Tos (After First Merge)
==================================================

,To Postcode,From,To,From State,To State,Run Type
0,3011,BIFT South Rail Terminal,Importers,Full,Empty,CR
1,3012,BIFT South Rail Terminal,Importers,Full,Empty,CR
2,3018,BIFT South Rail Terminal,Importers,Full,Empty,CR
3,3020,BIFT South Rail Terminal,Importers,Full,Empty,CR
4,3023,BIFT South Rail Terminal,Importers,Full,Empty,CR
5,3025,BIFT South Rail Terminal,Importers,Full,Empty,CR
6,3026,BIFT South Rail Terminal,Importers,Full,Empty,CR
7,3029,BIFT South Rail Terminal,Importers,Full,Empty,CR
8,3030,BIFT South Rail Terminal,Importers,Full,Empty,CR
9,3042,BIFT South Rail Terminal,Importers,Full,Empty,CR

Shape: (147, 6)
Showing first 10 rows of 147 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3753,BIFT South Rail Terminal,Full,3011,Importers,Empty,CR
1,3753,BIFT South Rail Terminal,Full,3012,Importers,Empty,CR
2,3753,BIFT South Rail Terminal,Full,3018,Importers,Empty,CR
3,3753,BIFT South Rail Terminal,Full,3020,Importers,Empty,CR
4,3753,BIFT South Rail Terminal,Full,3023,Importers,Empty,CR
5,3753,BIFT South Rail Terminal,Full,3025,Importers,Empty,CR
6,3753,BIFT South Rail Terminal,Full,3026,Importers,Empty,CR
7,3753,BIFT South Rail Terminal,Full,3029,Importers,Empty,CR
8,3753,BIFT South Rail Terminal,Full,3030,Importers,Empty,CR
9,3753,BIFT South Rail Terminal,Full,3042,Importers,Empty,CR

Shape: (423, 7)
Showing first 10 rows of 423 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3753,BIFT South Rail Terminal,Full,3011,Importers,Empty,CR,54.669767
1,3753,BIFT South Rail Terminal,Full,3012,Importers,Empty,CR,50.143349
2,3753,BIFT South Rail Terminal,Full,3018,Importers,Empty,CR,61.707373
3,3753,BIFT South Rail Terminal,Full,3020,Importers,Empty,CR,48.191570
4,3753,BIFT South Rail Terminal,Full,3023,Importers,Empty,CR,51.734361
5,3753,BIFT South Rail Terminal,Full,3025,Importers,Empty,CR,50.436943
6,3753,BIFT South Rail Terminal,Full,3026,Importers,Empty,CR,47.740080
7,3753,BIFT South Rail Terminal,Full,3029,Importers,Empty,CR,61.998820
8,3753,BIFT South Rail Terminal,Full,3030,Importers,Empty,CR,62.432166
9,3753,BIFT South Rail Terminal,Full,3042,Importers,Empty,CR,38.588248

Shape: (423, 8)
Showing first 10 rows of 423 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3753,BIFT South Rail Terminal,Full,3011,Importers,Empty,CR,54.669767
1,3753,BIFT South Rail Terminal,Full,3012,Importers,Empty,CR,50.143349
2,3753,BIFT South Rail Terminal,Full,3018,Importers,Empty,CR,61.707373
3,3753,BIFT South Rail Terminal,Full,3020,Importers,Empty,CR,48.191570
4,3753,BIFT South Rail Terminal,Full,3023,Importers,Empty,CR,51.734361
5,3753,BIFT South Rail Terminal,Full,3025,Importers,Empty,CR,50.436943
6,3753,BIFT South Rail Terminal,Full,3026,Importers,Empty,CR,47.740080
7,3753,BIFT South Rail Terminal,Full,3029,Importers,Empty,CR,61.998820
8,3753,BIFT South Rail Terminal,Full,3030,Importers,Empty,CR,62.432166
9,3753,BIFT South Rail Terminal,Full,3042,Importers,Empty,CR,38.588248

Shape: (423, 8)
Showing first 10 rows of 423 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT South Rail Terminal,Full,3011,Importers,Empty,54.669767
1,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT South Rail Terminal,Full,3012,Importers,Empty,50.143349
2,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT South Rail Terminal,Full,3018,Importers,Empty,61.707373
3,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT South Rail Terminal,Full,3020,Importers,Empty,48.191570
4,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT South Rail Terminal,Full,3023,Importers,Empty,51.734361
5,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT South Rail Terminal,Full,3025,Importers,Empty,50.436943
6,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT South Rail Terminal,Full,3026,Importers,Empty,47.740080
7,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT South Rail Terminal,Full,3029,Importers,Empty,61.998820
8,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT South Rail Terminal,Full,3030,Importers,Empty,62.432166
9,BIFT South Rail Terminal,ICDR,Inbound,Full,ICDR,CR,3753,BIFT South Rail Terminal,Full,3042,Importers,Empty,38.588248

Shape: (423, 13)
Showing first 10 rows of 423 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (20267, 13)
Showing first 10 rows of 20267 total rows

Current gateway:['BIFT South Rail Terminal' 'ICDR' 'Outbound' 'Full' 'ICDR'
 247.53638733833]


==================================================
Matched Shares
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Chain Link,Freight Area,Postcode,Y2056
0,*,*,*,*,Swanson Dock West,Port of Melbourne - Swanson Dock West,3003,1.0
1,*,*,*,*,Swanson Dock East,Port of Melbourne - Swanson Dock East,3003,1.0
2,*,*,*,*,Webb Dock North,Port of Melbourne - Webb Dock North,3207,1.0
3,*,*,*,*,Webb Dock South,Port of Melbourne - Webb Dock South,3207,1.0
4,*,*,*,*,Appleton Dock,Port of Melbourne - Appleton Dock,3003,1.0
5,*,*,*,*,Dynon North Rail Terminal,Dynon North Rail Terminal,3003,1.0
6,*,*,*,*,Dynon South Rail Terminal,Dynon South Rail Terminal,3003,1.0
7,*,*,*,*,Altona Rail Terminal,Altona Rail Terminal,3018,1.0
8,*,*,*,*,WIFT West Rail Terminal,WIFT West Rail Terminal,3029,1.0
9,*,*,*,*,WIFT East Rail Terminal,WIFT East Rail Terminal,3029,1.0

Shape: (49, 8)
Showing first 10 rows of 49 total rows

==================================================
Matched Flows
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Volume Entry,From,To,From State,To State,Run Type,Output Link Share
231,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,Exporters,Empty,Full,CR,0.717838
232,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,BIFT South Rail Terminal,Empty,Empty,IG,0.082162
233,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,BIFT South Rail Terminal,Empty,Complete,IG,0.200000
234,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,BIFT South Rail Terminal,Exporters,Empty,Full,CR,0.082162
235,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Exporters,BIFT South Rail Terminal,Full,Complete,CR,0.664516
236,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Exporters,Transport Depots,Full,Full,CR,0.135484
237,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,Transport Depots,Transport Depots,BIFT South Rail Terminal,Full,Complete,BR,0.135484

Shape: (7, 12)

==================================================
Matched Tos (After First Merge)
==================================================

  To Postcode              From         To From State To State Run Type
0        3003  Transport Depots  Exporters      Empty     Full       CR
1        3012  Transport Depots  Exporters      Empty     Full       CR
2        3013  Transport Depots  Exporters      Empty     Full       CR
3        3018  Transport Depots  Exporters      Empty     Full       CR
4        3020  Transport Depots  Exporters      Empty     Full       CR
5        3023  Transport Depots  Exporters      Empty     Full       CR
6        3025  Transport Depots  Exporters      Empty     Full       CR
7        3026  Transport Depots  Exporters      Empty     Full       CR
8        3028  Transport Depots  Exporters      Empty     Full       CR
9        3029  Transport Depots  Exporters      Empty     Full       CR

Shape: (75, 6)
Showing first 10 rows of 75 total rows

==================================================
Matched Froms (After Second Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type
0,3753,Transport Depots,Empty,3003,Exporters,Full,CR
1,3061,Transport Depots,Empty,3003,Exporters,Full,CR
2,3062,Transport Depots,Empty,3003,Exporters,Full,CR
3,3753,Transport Depots,Empty,3012,Exporters,Full,CR
4,3061,Transport Depots,Empty,3012,Exporters,Full,CR
5,3062,Transport Depots,Empty,3012,Exporters,Full,CR
6,3753,Transport Depots,Empty,3013,Exporters,Full,CR
7,3061,Transport Depots,Empty,3013,Exporters,Full,CR
8,3062,Transport Depots,Empty,3013,Exporters,Full,CR
9,3753,Transport Depots,Empty,3018,Exporters,Full,CR

Shape: (281, 7)
Showing first 10 rows of 281 total rows

==================================================
Matched Times (After Travel Times Merge)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3753,Transport Depots,Empty,3003,Exporters,Full,CR,54.080254
1,3061,Transport Depots,Empty,3003,Exporters,Full,CR,33.322574
2,3062,Transport Depots,Empty,3003,Exporters,Full,CR,28.829007
3,3753,Transport Depots,Empty,3012,Exporters,Full,CR,50.143349
4,3061,Transport Depots,Empty,3012,Exporters,Full,CR,27.413908
5,3062,Transport Depots,Empty,3012,Exporters,Full,CR,32.552932
6,3753,Transport Depots,Empty,3013,Exporters,Full,CR,58.158122
7,3061,Transport Depots,Empty,3013,Exporters,Full,CR,33.603856
8,3062,Transport Depots,Empty,3013,Exporters,Full,CR,34.995805
9,3753,Transport Depots,Empty,3018,Exporters,Full,CR,61.707373

Shape: (281, 8)
Showing first 10 rows of 281 total rows

==================================================
Matched Times (After NaN Fill)
==================================================

,From Postcode,From,From State,To Postcode,To,To State,Run Type,Travel Time
0,3753,Transport Depots,Empty,3003,Exporters,Full,CR,54.080254
1,3061,Transport Depots,Empty,3003,Exporters,Full,CR,33.322574
2,3062,Transport Depots,Empty,3003,Exporters,Full,CR,28.829007
3,3753,Transport Depots,Empty,3012,Exporters,Full,CR,50.143349
4,3061,Transport Depots,Empty,3012,Exporters,Full,CR,27.413908
5,3062,Transport Depots,Empty,3012,Exporters,Full,CR,32.552932
6,3753,Transport Depots,Empty,3013,Exporters,Full,CR,58.158122
7,3061,Transport Depots,Empty,3013,Exporters,Full,CR,33.603856
8,3062,Transport Depots,Empty,3013,Exporters,Full,CR,34.995805
9,3753,Transport Depots,Empty,3018,Exporters,Full,CR,61.707373

Shape: (281, 8)
Showing first 10 rows of 281 total rows

==================================================
Final Matched Times for this Gateway
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3753,Transport Depots,Empty,3003,Exporters,Full,54.080254
1,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3061,Transport Depots,Empty,3003,Exporters,Full,33.322574
2,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3062,Transport Depots,Empty,3003,Exporters,Full,28.829007
3,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3753,Transport Depots,Empty,3012,Exporters,Full,50.143349
4,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3061,Transport Depots,Empty,3012,Exporters,Full,27.413908
5,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3062,Transport Depots,Empty,3012,Exporters,Full,32.552932
6,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3753,Transport Depots,Empty,3013,Exporters,Full,58.158122
7,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3061,Transport Depots,Empty,3013,Exporters,Full,33.603856
8,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3062,Transport Depots,Empty,3013,Exporters,Full,34.995805
9,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3753,Transport Depots,Empty,3018,Exporters,Full,61.707373

Shape: (281, 13)
Showing first 10 rows of 281 total rows

==================================================
Cumulative allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (20548, 13)
Showing first 10 rows of 20548 total rows

==================================================
Final Complete allTravelTimes
==================================================

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
5,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3975,PRS Terminals Others,Full,37.665978
6,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3062,PRS Terminals Others,Full,28.902344
7,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3003,Importers,Empty,1.856365
8,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3011,Importers,Empty,11.612198
9,Swanson Dock West,I&MC,Import,Full,IMEX,CR,3003,Swanson Dock West,Full,3012,Importers,Empty,14.160464

Shape: (20548, 13)
Showing first 10 rows of 20548 total rows

In [17]:
allTravelTimes.to_csv("allTravelTimes.csv")

In [18]:
allTravelTimes

,Gateway,Sector,Import / Export,Full / Empty,Industry Class,Run Type,From Postcode,From,From State,To Postcode,To,To State,Travel Time
0,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
1,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3029,PRS Terminals WIFT / BIFT,Full,27.543957
2,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
3,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3753,PRS Terminals WIFT / BIFT,Full,44.769091
4,Swanson Dock West,I&MC,Import,Full,IMEX,RL,3003,Swanson Dock West,Full,3018,PRS Terminals Others,Full,18.705176
...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3458,Exporters,Full,3062,Transport Depots,Full,71.550223
277,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,CR,3803,Exporters,Full,3062,Transport Depots,Full,55.483854
278,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,BR,3753,Transport Depots,Full,3753,BIFT South Rail Terminal,Complete,15.981749
279,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,BR,3061,Transport Depots,Full,3753,BIFT South Rail Terminal,Complete,25.706089
280,BIFT South Rail Terminal,ICDR,Outbound,Full,ICDR,BR,3062,Transport Depots,Full,3753,BIFT South Rail Terminal,Complete,24.209545